// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
- is_message ||= false
= field_set_tag (is_message ? 'Interlocuteur' : 'OPJ') do
  - unless is_message
    div data-controller="autocomplete" data-autocomplete-url-value=calling_institutions_search_path role="combobox"
      div.input-group
        = form.input :calling_institution, input_html: { data: { autocomplete_target: 'input' }, value: officerable.calling_institution&.title }
        = button_tag fa_icon('eraser', title: 'Effacer'), type: 'button', data: { action: 'click->clear-input#erase'}, class: ['btn', 'bg-transparent']
        = form.input :calling_institution_id, as: :hidden, input_html: { data: { autocomplete_target: 'hidden'} }
      ul.list-group data-autocomplete-target="results"
  = form.simple_fields_for :officer do |o|
    = o.input :name
    = o.input :phone
    = o.input :email
  - if officerable.is_a? Appointment
    = form.input :official_report
