// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
div.mt-3
  h6.fw-bold Sur rendez-vous
  table.w-100
    caption.text-center = humanize_with_prefixed_count(Appointment, patient.appointments.length)
    - patient.appointments.each do |appointment|
      tr
        td
          = fa_icon appointment.state_icon, title: t("activerecord.attributes.appointment.state.#{appointment.state}")
        td
          span.py-1.px-2.rounded.text-white style="background-color: #{appointment.consultation_reason&.colour}"
            = fa_icon 'tag', title: "#{appointment.consultation_type&.title} - #{appointment.consultation_reason&.title}"
            = appointment.consultation_reason&.code
        td
          = localize_date(appointment.starts_at, format: :short)
          = " (%i min.)" % appointment.duration&.in_minutes
  h6.fw-bold En flux
  table.w-100
    caption.text-center = humanize_with_prefixed_count(FlowingConsultation, patient.flowing_consultations.length)
    - patient.flowing_consultations.each do |flowing_consultation|
      td
        = fa_icon flowing_consultation.state_icon, title: t("activerecord.attributes.flowing_consultation.state.#{flowing_consultation.state}")
      td
        span.py-1.px-2.rounded.bg-secondary.text-white.d-inline-block
          = fa_icon 'tag'
          = on_two_lines(flowing_consultation.consultation_type&.title)
      td
        = localize_date(flowing_consultation.called_at, format: :short)
