// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
= turbo_frame_tag 'show_duplicate'
  .modal.fade data-controller="modal"
    .modal-dialog.modal-xl
      .modal-content
        = form_with url: duplicate_path(@patient), method: :delete do |f|
          .modal-header
            .modal-title
              h5 S’agit-il bien de la même personne ?

          .modal-body
            table
              tr
                th Identité
                td= @probably_duplicated_patient.fullname
                td= @patient.fullname

              tr
                th Naissance
                td= @probably_duplicated_patient.human_birth
                td= @patient.human_birth

              tr
                th Coordonnées
                td= @probably_duplicated_patient.phone_numbers
                td= @patient.phone_numbers

              tr.align-top
                th Consultations
                td
                  = render partial: 'consultations', locals: { patient: @probably_duplicated_patient }
                td
                  = render partial: 'consultations', locals: { patient: @patient }

          .modal-footer
            = button_tag 'Annuler', type: 'button', class: ['btn', 'btn-secondary'], data: { 'bs-dismiss': 'modal' }
            = f.submit 'Fusionner', class: ['btn', 'btn-primary']
