// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
= simple_form_for @certificate_template do |f|
  = f.input :title
  .mt-4
    = f.association :roles, as: :check_boxes, label_method: :localized_title, value_method: :id, include_blank: false
  div data-controller="certificate-template-form"
    .form-check.form-switch.mb-3
      = check_box_tag :expert_mode, 'yes', false, class: ['form-check-input'], role: 'switch', data: { action: 'change->certificate-template-form#toggleExpertMode'}
      = label_tag :expert_mode, 'Mode expert', class: ['form-check-label']
    div hidden="hidden" data-certificate-template-form-target="expertMode"
      h3 Procédure recommandée
      ol
        li Copiez le contenu du champ texte ci-dessous
        li
          | Rendez-vous dans l'
          = link_to 'éditeur de questionnaire compatible', 'https://surveyjs.io/create-free-survey'
        li Collez ce que vous venez de copier dans leur onglet <code>JSON Editor</code>
        li Rendez-vous dans leur onglet <code>Designer</code>
        li Faites les changements souhaités
        li Copiez le contenu de leur onglet <code>JSON Editor</code>
        li Collez ce que vous venez de copier pour remplacer le contenu du champ texte ci-dessous.
      = f.input :questionnaire, input_html: { value: @certificate_template.questionnaire.to_json }

  = cancel_button certificate_templates_path
  = f.button :submit, 'Sauvegarder', class: ['btn-primary']
