// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
- breadcrumb :certificate_templates

h1
  = humanize_with_prefixed_count(CertificateTemplate, @certificate_templates.length)
  - if policy(CertificateTemplate).new?
    = custom_add_link new_certificate_template_path, title: "Nouveau modèle"

p = link_to 'Modifier le gabarit général', edit_settings_certificate_layout_path

- show_disabled = session[:show_disabled]
- action = (show_disabled ? 'Masquer' : 'Afficher')
p = link_to "#{action} les modèles désactivés", certificate_templates_path(show_disabled: !show_disabled)

#certificate-templates.accordion
  - @certificate_templates.each do |template|
    - master_document = template.master_document
    .accordion-item class=(template.enabled? ? '' : 'opacity-50')
      h2.accordion-header
        = button_tag type: 'button', class: ['accordion-button', 'collapsed'], data: { bs_toggle: 'collapse', bs_target: "#certificate-template-#{template.id}" } do
          .col = template.title
          .col
            = turbo_frame_tag dom_id(template, 'master_document_presence')
              = render partial: 'master_documents/master_document_presence', locals: { master_document: master_document }
            - if template.embedded?
              = fa_icon 'keyboard', title: 'Maquette embarquée'
          .col = template.roles.map(&:localized_title).join(', ')
          .actions.col
            - if policy(template).edit?
              = custom_edit_link edit_certificate_template_path(template)
            - if policy(template).toggle_activation?
              - if template.enabled?
                = link_to fa_icon('ban', title: 'Désactiver'), toggle_activation_certificate_template_path(template), method: :patch, class: ['text-danger'], data: { confirm: 'Êtes-vous sûr de vouloir désactiver cet élément ?' }
              - else
                = link_to fa_icon('circle-check', title: 'Activer'), toggle_activation_certificate_template_path(template), method: :patch, class: ['text-success'], data: { confirm: 'Êtes-vous sûr de vouloir activer cet élément ?' }
            - if policy(template).destroy?
              = custom_delete_link template
      .accordion-collapse.collapse id="certificate-template-#{template.id}" data-bs-parent='#certificate-templates'
        .accordion-body
            h3 Maquette à télécharger
            = turbo_frame_tag dom_id(template, 'master_document')
              = render partial: 'master_documents/master_document', locals: { master_document: master_document }
            = simple_form_for [template, MasterDocument.new], html: { 'data-controller': 'upload' } do |f|
              = f.input :file, as: :file, input_html: { data: { action: 'change->upload#uploadFiles' } }
              = f.button :submit, 'Sauvegarder', class: ['btn-primary'], data: { upload_target: 'submitButton' }, hidden: 'hidden'
            - if template.embedded?
              h3 Maquette embarquée
              = spinner
              .survey-form data-controller="survey-form" data-survey-form-questionnaire-value="#{template.questionnaire.to_json}"
