// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
@import 'variables'
@import 'bootstrap/scss/bootstrap'
@import 'bootstrap-icons/font/bootstrap-icons'
//@import 'survey-jquery/defaultV2'
@import 'survey-jquery/modern'
@import 'js-datepicker/dist/datepicker.min'
@import 'slim-select/dist/slimselect'

@import 'administration'
@import 'appointments'
@import 'calendar'
@import 'flowing_consultations'
@import 'layout'
@import 'profile'
@import 'users'

// Make CSS "ignore" <turbo-frame> in DOM hierarchy.
// https://github.com/hotwired/turbo/issues/48#issuecomment-925760725
turbo-frame
  display: contents

.MainContent
  @extend .py-3

form fieldset:first-child
  @extend .border
  @extend .border-primary
  @extend .p-3
  @extend .rounded
  height: 100%
  legend
    margin-top: -2rem
    width: auto
    background-color: $white
    padding-left: 1rem
    padding-right: 1rem

// hacks for slim-select see https://framagit.org/filae/src/-/issues/238
.ss-main, .ss-content
  --bs-form-select-bg-img: null
.ss-main
  padding: 0.5rem
.ss-content
  padding: 0
