// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
.Patient
  &Journey
    background-color: #FFF8
    border-radius: 3px
    position: absolute
    top: 0
    right: 0
    white-space: nowrap
    padding-left: 0.5rem
    padding-right: 0.5rem
    font-weight: 500
    .fa
      padding: 0 0.25rem
  &--unavailable
    color: grey
  &--waiting
    color: red
  &--taken-in-charge
    color: darkorange
  &--out
    color: green
