// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
.CalendarDays
  &-content
    display: flex
    flex-direction: column
    padding: 0

    @include media-breakpoint-up(lg)
      flex-direction: row

    .CalendarDay
      display: flex
      flex-direction: column
      justify-content: space-between

      &-header
        min-height: 6rem
      &-timeGrid
        // Fixed height necesary for proper alignment of all calendars
        // 90vh: almost-full-screen calendar
        height: 90vh
        // 820px: 15-minutes appointments high enough for readable patient name
        min-height: 820px
      &-title
        @extend .text-center
        @extend .fw-bold
