// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
.FlowingConsultationsList
  .FlowingConsultation
    &:hover
      background-color: $gray-200

    &-actions
      text-align: right

fieldset.hidden-if-disabled:disabled
  display: none

.date:has(input[type=date]:valid), .time:has(input[type=time]:valid)
  .form-text
    display: none

.date:has(input[type=date]:invalid), .time:has(input[type=time]:invalid)
  input
    @extend .is-invalid

  .form-text
    @extend .invalid-feedback
    display: initial

.date:has(input[type=date]:optional)
  label abbr
    display: none
