// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
// Font Awesome Icons
.fa-solid, .fa-regular, svg[data-prefix='fas'], svg[data-prefix='far']
  padding: 0 0.5rem

.ContentHeader
  @extend .align-items-center
  @extend .d-flex
  @extend .flex-column
  @extend .flex-md-row
  @extend .justify-content-between
  @extend .mb-3

.PageActions
  @extend .d-grid
  @extend .gap-2
  @extend .d-md-block

.autocomplete-eraser
  margin-top: -1.5em

.autocomplete-results
  position: absolute
  z-index: 2000
  margin-top: -1.7em

.modal-footer + .modal-footer
  // In appointment modal for instance
  border-top: 0
  padding-top: 0
