// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
- attached_file = (certificate.validated? ? certificate.validated_attached_file : certificate.signed_attached_file)
= turbo_frame_tag certificate
  li.list-group-item.d-flex.justify-content-between
    div
      = fa_icon 'file-alt'
      = attached_file.file.filename
    div
      - if policy(attached_file).download?
        = link_to fa_icon('file-download', title: 'Télécharger'), download_attached_file_path(attached_file), data: { turbo_frame: "_top" }
      - if policy(attached_file).preview?
        = link_to fa_icon('eye', title: 'Prévisualiser'), preview_attached_file_path(attached_file), data: { turbo_frame: "_top" }
      - if certificate.signed?
        - if policy(certificate).toggle_validation?
          = link_to fa_icon('check-circle', title: 'Valider'), toggle_validation_certificate_path(certificate), method: :patch, class: ['text-success'], data: { confirm: 'Êtes-vous sûr de vouloir valider cet élément ?' }
        - if policy(certificate).destroy?
          = custom_delete_link certificate
      - if certificate.validated?
        span.fingerprint data-controller='tooltip' data-bs-placement="left" data-bs-title=(certificate.sha512_checksum)
          = fa_icon 'stamp'
        - if policy(certificate).toggle_validation?
          = link_to fa_icon('backward', title: 'Dévalider'), toggle_validation_certificate_path(certificate), method: :patch, class: ['text-danger'], data: { confirm: 'Êtes-vous sûr de vouloir dévalider cet élément ?' }
        - if certificate.certificatable.is_a?(FlowingConsultation)
          - if policy(certificate).send_by_mail?
            = link_to fa_icon('paper-plane', title: 'Envoyer le certificat'), mail_form_certificate_path(certificate), class: ['text-warning'], data: { turbo_frame: 'mail_form' }
