// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
- breadcrumb :edit_certificate, @certificate

= content_for :fullscreen do
  = turbo_frame_tag @certificate
    = turbo_frame_tag 'conclusion'
    - appointment = @certificate.certificatable

    = render partial: 'appointments/header', locals: { appointment: appointment }
    = turbo_frame_tag 'edit_patient'

    .card.mb-2.mt-2
      .card-header
        h2 Observations

      .card-body
        - if @certificate_template && !@certificate_template.embedded?
          #certificate-template data-controller="auto-download" data-auto-download-triggers-value=['standard_attached_files', 'medical_content_attached_files']
            - master_document = @certificate_template.master_document
            h3 Maquette à télécharger
            p
              = master_document.file.filename
              = link_to fa_icon('file-arrow-down', title: 'Télécharger'), master_document_download_path(master_document, appointment_id: appointment.id), data: { turbo_frame: '_top', auto_download_target: 'downloadLink' }

        = turbo_frame_tag 'certificate_file'
          = render partial: 'appointments/filed_certificate', locals: { appointment: appointment }

      .card-footer
        - if policy(appointment).conclude?
          = link_to 'La consultation est terminée', conclude_appointment_path(appointment), class: ['btn', 'btn-primary'], data: { turbo_frame: 'conclusion' }
        - else
          = link_to 'Retour à l’agenda', consultation_type_appointments_path(appointment.consultation_type), class: ['btn', 'btn-primary'], data: { turbo_frame: '_top' }

    = turbo_frame_tag 'attached_files'
      .row
        .col
          = turbo_frame_tag 'standard_attached_files', src: list_appointment_attached_files_path(appointment, type: 'standard')
            | Récupération des fichiers standard en cours...
        .col
          = turbo_frame_tag 'medical_content_attached_files', src: list_appointment_attached_files_path(appointment, type: 'medical_content')
            | Récupération des fichiers médicaux en cours...
