// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
= turbo_frame_tag 'mail_form'
  .modal.fade data-controller="modal"
    .modal-dialog
      .modal-content
        .modal-header
          .modal-title
            h3 Envoi par courriel

        .modal-body
          - officer_email = @certificate&.certificatable&.officer&.email
          = simple_form_for :mail_form ,
            url: send_by_mail_certificate_path(@certificate),
            method: :patch,
            html: { \
              'data-controller': 'mail-form',
              'data-mail-form-recipient-value': officer_email,
              } do |f|

            = f.input :recipient, as: :email,
              input_html: { value: officer_email, data: { action: 'input->mail-form#updateRecipient' } }

            .modal-footer
              = button_tag 'Annuler', type: 'button', class: ['btn', 'btn-secondary'], data: { 'bs-dismiss': 'modal' }
              = f.submit 'Envoyer', class: ['btn', 'btn-primary'], data: { mail_form_target: 'submitButton' }
