// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
.accordion-item
  h4.accordion-header
    = button_tag type: 'button', class: ['accordion-button', 'collapsed'], data: { bs_toggle: 'collapse', bs_target: "#consultation-type-#{consultation_type.id}" } do
      .col
        = fa_icon consultation_type.icon_name
        = consultation_type.title
      .col = consultation_type.roles.map(&:localized_title).join(', ')
      .actions.col
        - if policy(consultation_type).edit?
          = custom_edit_link edit_consultation_type_path(consultation_type)
        - if policy(consultation_type).destroy?
          = custom_delete_link consultation_type
  .accordion-collapse.collapse id="consultation-type-#{consultation_type.id}" data-bs-parent='#intervention-domain-#{intervention_domain.id}'
    .accordion-body.row
      .col
        = humanize_with_prefixed_count(ConsultationSubtype, consultation_type.consultation_subtypes.length)
        - if policy(ConsultationSubtype).new?
          = custom_add_link new_consultation_type_consultation_subtype_path(consultation_type), title: 'Nouveau sous-type de consultation'
        ul.list-group
          = render partial: 'intervention_domains/consultation_subtype', collection: consultation_type.consultation_subtypes
      .col
        = humanize_with_prefixed_count(ConsultationReason, consultation_type.consultation_reasons.length)
        - if policy(ConsultationReason).new?
          = custom_add_link new_consultation_type_consultation_reason_path(consultation_type), title: 'Nouveau motif de consultation'
        ul.list-group
          = render partial: 'intervention_domains/consultation_reason', collection: consultation_type.consultation_reasons.by_title
      .col
        | Types de consultations complémentaires
        ul.list-group
          = render partial: 'intervention_domains/complementary_consultation_type', collection: consultation_type.complementary_consultation_types
