// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
li.list-group-item.d-flex.justify-content-between
  = "#{consultation_subtype.title} #{display_duration(consultation_subtype.appointment_duration)}"
  .actions
    - if policy(consultation_subtype).edit?
      = custom_edit_link edit_consultation_subtype_path(consultation_subtype)
    - if policy(consultation_subtype).destroy?
      = custom_delete_link consultation_subtype
