// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
= simple_form_for @intervention_domain , \
  html: { \
    'data-controller': 'intervention-domain-form', \
    'data-intervention-domain-form-modus-operandi-value': @intervention_domain.modus_operandi, \
    } do |f|
  = f.input :title
  = f.input :identifier_prefix
  = f.input :modus_operandi, collection: InterventionDomain.translated_modus_operandi, include_blank: false, \
    input_html: { 'data-action': 'change->intervention-domain-form#toggleRolesForm' }
  #allowed-roles data-intervention-domain-form-target="rolesInput"
    = f.association :roles, as: :check_boxes, label_method: :localized_title, value_method: :id, include_blank: false

  = cancel_button intervention_domains_path
  = f.button :submit, 'Sauvegarder', class: ['btn-primary']
