// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
.accordion-item
  h2.accordion-header
    = button_tag type: 'button', class: ['accordion-button', 'collapsed'], data: { bs_toggle: 'collapse', bs_target: "#intervention-domain-#{intervention_domain.id}" } do
      .col = intervention_domain.title
      .col = intervention_domain.roles.map(&:localized_title).join(', ')
      .actions.col
        - if policy(intervention_domain).edit?
          = custom_edit_link edit_intervention_domain_path(intervention_domain)
        - if policy(intervention_domain).destroy?
          = custom_delete_link intervention_domain
  .accordion-collapse.collapse id="intervention-domain-#{intervention_domain.id}" data-bs-parent='#intervention-domains'
    .accordion-body
      h3
        = humanize_with_prefixed_count(ConsultationType, intervention_domain.consultation_types.length)
        - if policy(ConsultationType).new?
          = custom_add_link new_intervention_domain_consultation_type_path(intervention_domain), title: 'Nouveau type de consultation'
      - if intervention_domain.stream?
        ul.list-group
          = render partial: 'intervention_domains/stream_consultation_type', \
            collection: intervention_domain.consultation_types.by_title, \
            as: :consultation_type, \
            locals: { intervention_domain: intervention_domain }
      - else
        .accordion
          = render partial: 'intervention_domains/appointments_consultation_type', \
            collection: intervention_domain.consultation_types.by_title, \
            as: :consultation_type, \
            locals: { intervention_domain: intervention_domain }
      - if intervention_domain.appointments?
        h3
          = humanize_with_prefixed_count(Schedule, intervention_domain.schedules.length)
          - if policy(Schedule).new?
            = custom_add_link new_intervention_domain_schedule_path(intervention_domain), title: 'Nouvel horaire'
        ul.list-group
          = render partial: 'intervention_domains/schedule', \
            collection: intervention_domain.schedules, \
            as: :schedule, \
            locals: { intervention_domain: intervention_domain }
