// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
li.list-group-item.d-flex.justify-content-between
  .domain_title
    = fa_icon consultation_type.icon_name
    = consultation_type.title
  = consultation_type.roles.map(&:localized_title).join(', ')
  .actions
    - if policy(consultation_type).edit?
      = custom_edit_link edit_consultation_type_path(consultation_type)
    - if policy(consultation_type).destroy?
      = custom_delete_link consultation_type
