// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
= turbo_frame_tag 'appointment_actions'
  .modal-footer#cancellation
    - if appointment.cancelled?
      - if next_appointment = appointment.next_appointment
        ' Reporté au
        => localize_date(next_appointment.starts_at, format: :input)
        = t("activerecord.attributes.appointment/cancelled_by.#{appointment.cancelled_by}") + "."
      - else
        span.text-secondary = "Annulé #{t("activerecord.attributes.appointment/cancelled_by.#{appointment.cancelled_by}")}."
        .dropdown
          button.btn.btn-primary.dropdown-toggle type="button" data-bs-toggle="dropdown" aria-expanded="false"
            = fa_icon 'calendar-plus'
            | Rétablir la consultation
          .dropdown-menu
            = button_to appointment_path(appointment), method: :patch, params: { appointment: { cancelled_at: nil, cancelled_by: nil }}, class: ['btn', 'btn-none', 'dropdown-item'] do
              = fa_icon 'check'
              | Confirmer le rétablissement
    - else
      .dropdown
        button.btn.btn-primary.dropdown-toggle type="button" data-bs-toggle="dropdown" aria-expanded="false"
          = fa_icon 'calendar-xmark'
          | Annuler la consultation
        ul.dropdown-menu
          - Appointment.cancelled_bies.each do |reason, v|
            li
              = button_to appointment_path(appointment), method: :patch, params: { appointment: { cancelled_at: Time.zone.now, cancelled_by: reason }}, class: ['btn', 'btn-none', 'dropdown-item'] do
                = t("activerecord.attributes.appointment/cancelled_by.#{reason}").upcase_first
    - unless appointment.next_appointment
      .dropdown
        button.btn.btn-primary.dropdown-toggle type="button" data-bs-toggle="dropdown" aria-expanded="false"
          = fa_icon 'share'
          | Reporter la consultation
        ul.dropdown-menu
          - Appointment.cancelled_bies.each do |reason, v|
            li = link_to t("activerecord.attributes.appointment/cancelled_by.#{reason}").upcase_first, postpone_appointment_path(appointment, reason: reason), class: ['btn', 'btn-none', 'dropdown-item'], data: { turbo_frame: '_top' }
  - unless appointment.cancelled?
    .modal-footer#workflow
      - if appointment.patient_missing
        .dropdown
          button.btn.btn-outline-danger.dropdown-toggle type="button" data-bs-toggle="dropdown" aria-expanded="false"
            | Patient non venu
          .dropdown-menu
            = button_to appointment_path(appointment), method: :patch, params: { appointment: { patient_arrived_at: Time.zone.now, patient_missing: false }}, class: ['btn', 'btn-none', 'dropdown-item'] do
              = fa_icon 'rotate-left'
              | Annuler cette saisie définitivement
      - elsif appointment.patient_arrived_at
        .dropdown
          button.btn.btn-outline-success.dropdown-toggle type="button" data-bs-toggle="dropdown" aria-expanded="false"
            | Patient arrivé
          .dropdown-menu
            = button_to appointment_path(appointment), method: :patch, params: { appointment: { patient_arrived_at: nil, patient_missing: false }}, class: ['btn', 'btn-none', 'dropdown-item'] do
              = fa_icon 'rotate-left'
              | Annuler cette saisie définitivement
        - if policy(appointment).take_charge?
          - if  appointment.user_in_charge
            .dropdown
              button.btn.btn-outline-success.dropdown-toggle type="button" data-bs-toggle="dropdown" aria-expanded="false"
                | Prise en charge
              .dropdown-menu
                = button_to appointment_path(appointment), method: :patch, params: { appointment: { user_in_charge_id: nil }}, class: ['btn', 'btn-none', 'dropdown-item'] do
                  = fa_icon 'rotate-left'
                  | Annuler cette saisie définitivement
          - else
            .dropdown
              button.btn.btn-primary.dropdown-toggle type="button" data-bs-toggle="dropdown" aria-expanded="false"
                | Prise en charge
                ul.dropdown-menu
                  - certificate_templates = current_user.certificate_templates
                  - certificate_templates.each do |template|
                    li
                      = link_to take_charge_appointment_path(appointment, certificate_template_id: template), method: :patch,  data: { turbo_frame: '_top'}, class: ["dropdown-item", 'link-dark', 'link-underline', 'link-underline-opacity-0'] do
                        = fa_icon (template.embedded? ? 'keyboard' : 'file-download')
                        = template.title
                  li
                    = link_to take_charge_appointment_path(appointment), method: :patch,  data: { turbo_frame: '_top'}, class: ["dropdown-item", 'link-dark', 'link-underline', 'link-underline-opacity-0']
                      = fa_icon 'check'
                      = certificate_templates.empty? ? 'Confirmer la prise en charge du patient' : 'Autre modèle non listé'
      - else
        .dropdown
          button.btn.btn-secondary.dropdown-toggle type="button" data-bs-toggle="dropdown" aria-expanded="false"
            = fa_icon 'user-slash'
            | Patient non venu
          .dropdown-menu
            = button_to appointment_path(appointment), method: :patch, params: { appointment: { patient_arrived_at: nil, patient_missing: true }}, class: ['btn', 'btn-none', 'dropdown-item'] do
              = fa_icon 'check'
              | Confirmer la non venue du patient
        .dropdown
          button.btn.btn-primary.dropdown-toggle type="button" data-bs-toggle="dropdown" aria-expanded="false"
            = fa_icon 'user'
            | Patient arrivé
          .dropdown-menu
            = button_to appointment_path(appointment), method: :patch, params: { appointment: { patient_arrived_at: Time.zone.now, patient_missing: false }}, class: ['btn', 'btn-none', 'dropdown-item'] do
              = fa_icon 'check'
              | Confirmer l'arrivée du patient
      - if appointment.requisition_received_at
        .dropdown
          button.btn.btn-outline-success.dropdown-toggle type="button" data-bs-toggle="dropdown" aria-expanded="false"
            | Réquisition reçue
          .dropdown-menu
            = button_to appointment_path(appointment), method: :patch, params: { appointment: { requisition_received_at: nil }}, class: ['btn', 'btn-none', 'dropdown-item'] do
              = fa_icon 'rotate-left'
              | Annuler cette saisie définitivement
      - else
        = button_to 'Réquisition reçue', appointment_path(appointment), method: :patch, params: { appointment: { requisition_received_at: Time.zone.now }}, class: ['btn', 'btn-primary']
  .modal-footer#certificate
    - if (certificate = appointment.certificate)
      - if appointment.user_in_charge
        = link_to 'Enrichir la consultation', edit_certificate_path(certificate), data: { turbo_frame: '_top' }, class: ['btn', 'btn-outline-primary']
      - if certificate.validated?
        = link_to 'Télécharger le certificat validé', download_attached_file_path(certificate.validated_attached_file), data: { turbo_frame: "_top" }, class: ['btn', 'btn-outline-success']
      - if certificate.delivered_at
        .dropdown
          button.btn.btn-outline-success.dropdown-toggle type="button" data-bs-toggle="dropdown" aria-expanded="false"
            | Certificat envoyé
          .dropdown-menu
            = button_to certificate_path(certificate), method: :patch, params: { certificate: { delivered_at: nil }}, class: ['btn', 'btn-none', 'dropdown-item'] do
              = fa_icon 'rotate-left'
              | Annuler cette saisie définitivement
      - else
        .dropdown
          button.btn.btn-primary.dropdown-toggle type="button" data-bs-toggle="dropdown" aria-expanded="false"
            | Certificat non-envoyé
          .dropdown-menu
            = button_to 'Confirmer l\'envoi du certificat hors-FILAÉ', certificate_path(certificate), method: :patch, params: { certificate: { delivered_at: Time.zone.now }}, class: ['btn', 'btn-none']
            - if certificate.validated?
              = link_to custom_link_name(:long, 'Envoyer par courriel', 'paper-plane'), mail_form_certificate_path(certificate), data: { turbo_frame: 'mail_form' }, class: ['btn', 'btn-none']
            - else
              = button_tag 'Envoyer par courriel (impossible : certificat non validé dans FILAÉ)', type: 'button', class: ['btn', 'btn-none'], disabled: true

    - else
      = button_tag 'Certificat absent de Filaé', type: 'button', class: ['btn', 'btn-primary'], disabled: true
