// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
- hide_patient ||= false
tr
  td = appointment.onml_id
  td = fa_icon appointment.state_icon, title: t("activerecord.attributes.appointment.state.#{appointment.state}")
  td
    span.py-1.px-2.rounded.bg-secondary.text-white
      = fa_icon 'tag', title: "#{appointment.consultation_type&.title} - #{appointment.consultation_reason&.title}"
      = appointment.consultation_reason&.code
  td
    = fa_icon 'clock', style: :regular
    = localize_date(appointment.starts_at)
  td
    .dropdown
      button.btn.btn-light.dropdown-toggle type="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #{appointment.calling_institution&.calling_area&.colour}"
        = fa_icon 'shield-alt'
        = appointment.calling_institution&.title
      ul.dropdown-menu
        li.dropdown-item
          = fa_icon 'user-circle'
          = appointment.officer&.name
        li.dropdown-item
          = fa_icon 'phone-alt'
          = appointment.officer&.phone
        li.dropdown-item
          = fa_icon 'envelope'
          = appointment.officer&.email

  td
    - unless hide_patient
      = render partial: 'patients/dropdown', locals: { patientable: appointment }
  td
    - if assignee = appointment.user_in_charge
      .dropdown
        button.btn.btn-light.dropdown-toggle type="button" data-bs-toggle="dropdown" aria-expanded="false"
          = fa_icon 'user-doctor'
          = assignee.name
        ul.dropdown-menu.dropdown-menu-end
          li.dropdown-item
            = fa_icon 'envelope'
            = assignee.email
  td.Appointment-attachedFiles
    - if policy(appointment).list_attached_files?
      = turbo_frame_tag dom_id(appointment, 'attached_files_button')
        = custom_attached_files_link appointment
  td
    - if policy(appointment).edit_archived?
      = custom_edit_link edit_appointment_path(appointment), data: { turbo_frame: "_top" }
