// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
div#complementary-appointments data-controller='complementary-appointments'
  dl
    dt Consultations complémentaires
    dd
      - unless (complementary_consultation_types = appointment.consultation_type.complementary_consultation_types).empty?
        ul
          - complementary_consultation_types.each do |complementary_consultation_type|
            = render partial: 'complementary_consultation_type', locals: { appointment: appointment, complementary_consultation_type: complementary_consultation_type }
      - else
        | ∅
