// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
- complementary_appointment = appointment.last_complementary_appointment_of_consultation_type(complementary_consultation_type)
li.form-check.d-block id=dom_id(complementary_consultation_type)
  - if complementary_appointment && !complementary_appointment.cancelled?
    div.dropdown.d-inline-block
      button.btn.btn-none.dropdown-toggle type="button" data-bs-toggle="dropdown" aria-expanded="false"
        = fa_icon 'square-check', style: :regular
        = complementary_consultation_type.title
      .dropdown-menu
        = button_to complementary_appointment_path(complementary_appointment), method: :delete, class: ['btn', 'btn-none', 'dropdown-item'] do
          = fa_icon 'calendar-xmark'
          | Annuler cette consultation complémentaire
  - else
    = button_to appointment_complementary_appointments_path(appointment), params: { consultation_type_id: complementary_consultation_type.id }, class: ['btn', 'btn-none'] do
      = fa_icon 'square', style: :regular
      = complementary_consultation_type.title
