// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
- certificate = appointment.certificate

- if certificate.validated_attached_file
  h3 Certificat validé
  ul#validated_certificates_listing
    = render partial: 'certificates/certificate', locals: { certificate: certificate }
- elsif certificate.signed_attached_file
  h3 Certificat signé
  ul#signed_certificates_listing
    = render partial: 'certificates/certificate', locals: { certificate: certificate }
- else
  h3 Certificat signé
  = simple_form_for :new_certificate,
    url: certificate_appointment_path(appointment),
    html: { 'data-controller': 'upload' } do |f|
    = f.input :file, as: :file, input_html: { data: { action: 'change->upload#uploadFiles' } }
    = f.submit 'Sauvegarder', data: { upload_target: 'submitButton' }, hidden: 'hidden'
