// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
- consultation_reasons = @consultation_type.consultation_reasons.by_title
= content_for :fullscreen do
  = simple_form_for (@appointment.persisted? ? @appointment : [@consultation_type, @appointment]),
    html: { \
      'data-controller': 'appointment-form clear-input',
      'data-appointment-form-duration-value': @appointment.duration&.in_minutes&.to_i,
      'data-appointment-form-consultation-reason-duration-value': @appointment.consultation_reason&.appointment_duration&.in_minutes&.to_i || consultation_reasons.first&.appointment_duration&.in_minutes&.to_i,
      'data-appointment-form-consultation-subtype-duration-value': @appointment.consultation_subtype&.appointment_duration&.in_minutes&.to_i,
      'data-action': 'newStartsAtSelected->appointment-form#setStartsAt:prevent',
      } do |f|
    = hidden_field_tag :appointment_form, true
    .row
      .col
        = field_set_tag 'Rendez-vous' do
          = f.input :emergency
          - unless @consultation_type.consultation_subtypes.empty?
            = f.association :consultation_subtype,
              collection: @consultation_type.consultation_subtypes.all.map { |cs| [cs.title, cs.id, 'data-duration': cs.appointment_duration.in_minutes.to_i] },
              include_blank: "Aucun",
              input_html: { data: { action: 'change->appointment-form#setDuration'} }
          = f.association :consultation_reason,
            collection: consultation_reasons.map { |cr| [cr.label_for_select, cr.id, 'data-duration': cr.appointment_duration.in_minutes.to_i] },
            include_blank: false,
            input_html: { data: { action: 'change->appointment-form#setDuration', controller: "slim-select" } }
          div.form-text data-appointment-form-target="durationHint"
          = f.input :duration, as: :integer, required: true,
            input_html: { \
              data: { appointment_form_target: 'durationInput', action: 'appointment-form#durationTyped' },
              value: @appointment.duration&.in_minutes&.to_i,
            }
          = f.input :starts_at, as: :string, input_html: { \
            value: (@reason.present? ? nil : localize_date(@appointment.starts_at || Time.zone.now, format: :input)),
            data: { \
              controller: "datetime-checker",
              datetime_checker_can_be_blank_value: false,
              action: 'input->datetime-checker#checkDatetime',
              appointment_form_target: 'startsAtInput',
            },
          }
      .col
        = render partial: 'patients/dynamic_form', locals: { form: f, patientable: @appointment }
      .col
        = render partial: 'officers/dynamic_form', locals: { form: f, officerable: @appointment }
    .row
      .col
        = f.input :circumstances
      .col
        = f.input :comment

    .row.mb-2
      .col
        = cancel_button consultation_type_appointments_path(@consultation_type)
      .col.text-end
        - if @reason
          span.text-secondary.me-2 = "RDV précédent : #{localize_date(@appointment.previous_appointment.starts_at, format: :input)} - #{localize_date(@appointment.previous_appointment.ends_at, format: :only_time)}"
          = f.hidden_field :previous_appointment_postponed_by, value: @reason
          = f.input :previous_appointment_id, as: :hidden, value: @appointment.previous_appointment&.id
        = f.input :next_appointment_consultation_type_id, as: :select, collection: @appointment.intervention_domain.consultation_types.for_user(current_user).by_title, include_blank: 'Non'
        = f.submit 'Sauvegarder', class: ['btn', 'btn-primary']

    / indentation is mandatory for message bubbling
    = turbo_frame_tag 'calendar', src: calendar_days_path(pivot_date: @pivot_date, consultation_type_id: @consultation_type.id) do
      = spinner
