// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
- released_at = (@appointment.patient_released_at.present? ? nil : Time.zone.now)
- icon = (released_at ? 'square' : 'square-check')
= turbo_frame_tag 'free_patient'
  = button_to appointment_path(@appointment), method: :patch, params: { conclusion_form: true,  appointment: { patient_released_at: released_at}}, class: ['btn', 'btn-none'] do
    = fa_icon icon, style: :regular
    | Patient libéré
