// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
#AppointmentHeader
  - read_only ||= false
  = render partial: 'appointments/patient', locals: { patientable: appointment, read_only: read_only }
  .appointment-meta
    - unless read_only
      = turbo_frame_tag 'medical_file'
    div
      = fa_icon 'phone', title: 'Numéro à contacter'
      = appointment.patient_phone
    span.badge.me-2.fs-4 style="background-color: #{appointment.consultation_reason&.colour}"
      = appointment.consultation_reason&.code
    = localize_slot(appointment)
    = render partial: 'logs', locals: { loggable: appointment }
    - medical_file = appointment.actual_medical_file
    - if policy(medical_file).edit? && !read_only
      = custom_edit_link edit_medical_file_path(medical_file), title: 'Fiche médicale', icon: 'clipboard-user', data: { turbo_frame: "medical_file" }
    div.fw-bold
      = appointment.consultation_subtype&.title
