// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
- appointment = patientable
- read_only ||= false
- unless read_only
  = turbo_frame_tag 'edit_patient'
- if (patient = appointment.patient)
  div id=dom_id(patient)
    h5
      = patient.fullname
      - if policy(patient).edit? && !read_only
        = custom_edit_link edit_patient_path(patient, patientable_id: appointment.id), title: 'Modifier le patient', icon: 'address-card', data: { turbo_frame: 'edit_patient' }
    .patient-details
      - if appointment.emergency
        = fa_icon 'exclamation-circle', title: 'Urgence.'
      span.me-2 = humanized_gender(patient, abbreviated: true)
      span.me-2 = localize_date(patient.birthdate)
      = minority_icon_for(appointment)
      span.me-2 = patient.aged_at(appointment.starts_at)
