// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
- breadcrumb :appointment_archives, @consultation_type

= content_for :fullscreen do
  = turbo_frame_tag 'edit_patient'
  = turbo_frame_tag 'attached_files'

  = simple_form_for :appointments_filter,
    url: archives_consultation_type_appointments_path(@consultation_type),
    method: :get,
    html: { \
      id: "appointments_filter",
      data: { \
        controller: "appointment-archives-filter clear-input",
        "appointment-archives-filter-target": "wholeForm",
        "appointment-archives-filter-start-date-value": @filter[:start_date] || "",
        "appointment-archives-filter-end-date-value": @filter[:end_date] || "",
        "appointment-archives-filter-patient-birthdate-value": @filter[:patient_birthdate] || "",
      },
      class: ["row"],
      } do |f|

    .col
      = f.input :emergency, required: false, as: :select, collection: [['OUI', true], ['NON', false]], include_blank: 'Tous', selected: @filter[:emergency]
      = f.input :status, required: false,
        as: :select, collection: [['Annulé', 'cancelled'], ['Reporté', 'postponed'], ['Patient non venu', 'patient_missing']], include_blank: 'Tous',  selected: @filter[:status]
      = f.input :certificate_status, required: false,
        as: :select, collection: [['Certificat signés', 'signed'], ['Certificat validé', 'validated'], ['Certificat envoyé', 'sent']], include_blank: 'Tous',  selected: @filter[:certificate_status]
    .col
      = f.input :onml_id, required: false, input_html: { value: @filter[:onml_id] }
      = f.input :official_report, required: false, input_html: { value: @filter[:official_report] }
    .col
      = f.input :start_date, as: :date, html5: true, required: false,
        input_html: { \
          value: @filter[:start_date],
          data: { action: "keyup->appointment-archives-filter#updateForm input->appointment-archives-filter#updateForm" },
        }
      = f.input :end_date, as: :date, html5: true, required: false,
        input_html: { \
          value: @filter[:end_date],
          data: { action: "keyup->appointment-archives-filter#updateForm input->appointment-archives-filter#updateForm" },
        }
    .col
      = f.input :consultation_reason_id, required: false,
        as: :select, collection: @consultation_type.consultation_reasons, include_blank: 'Tous', selected: @filter[:consultation_reason_id]
    div.col data-controller="autocomplete" data-autocomplete-url-value=calling_institutions_search_path role="combobox"
      div.input-group
        = f.input :calling_institution, required: false, input_html: { data: { autocomplete_target: 'input' }, value: @filter[:calling_institution] }
        = button_tag fa_icon('eraser', title: 'Effacer'), type: 'button', data: { action: 'click->clear-input#erase'}, class: ['btn', 'bg-transparent', 'autocomplete-eraser']
        = f.input :calling_institution_id, as: :hidden, input_html: { data: { autocomplete_target: 'hidden' }, value: @filter[:calling_institution_id] }
      ul.list-group.autocomplete-results data-autocomplete-target="results"
    .col
      = f.input :user_in_charge_id, required: false,
        as: :select, collection: User.where(role: @consultation_type.assigned_role_ids), include_blank: 'Tous',  selected: @filter[:user_in_charge_id]
    .col
      = f.input :patient_last_name, required: false, input_html: { value: @filter[:patient_last_name]}
      = f.input :patient_birthdate, as: :date, html5: true, required: false,
        input_html: { \
          value: @filter[:patient_birthdate],
          data: { action: "keyup->appointment-archives-filter#updateForm input->appointment-archives-filter#updateForm" },
        }
    .col
      = f.input :patient_gender, required: false,
        as: :select, collection: Patient.genders.map { |k,v| [t("gender.#{k}.normal"), k] }.push(['Genre non renseigné', 'unfilled']), include_blank: 'Tous',  selected: @filter[:patient_gender]
      = f.input :patient_age_range, required: false,
        as: :select, collection: ['0-9','10-19','20-29','30-39','40-49','50-59','60-69','70-79','80-89','90-99','100-109','110-119','120-129'], include_blank: 'Tous',  selected: @filter[:patient_age_range]
    .col
      = f.button :submit, 'Filtrer',
        class: ['btn-primary'],
        data: { appointment_archives_filter_target: 'submitButton' }
      = link_to 'Effacer', reset_filter_consultation_type_appointments_path(@consultation_type), class: ['btn', 'btn-secondary']

  table.w-100
    caption.text-center
      = humanize_with_prefixed_count(Appointment, @appointments_count)
      - if @too_many_appointments
        div
          strong Cette recherche dépasse le nombre maximal de lignes affichables (#{AppointmentsController::MAX_DISPLAYABLE_ARCHIVES}).
        div Vous pouvez modifier vos filtres pour la préciser.

    - unless @too_many_appointments
      - @appointments.each do |appointment|
        = render partial: 'appointment', locals: { appointment: appointment }
