// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
= turbo_frame_tag 'conclusion' do
  .modal data-controller="modal"
    .modal-dialog
      .modal-content
        .modal-header
          .modal-title
            h3 Avant de clore le sujet...
          button.btn-close type="button" data-bs-dismiss="modal" aria-label="Close" title="Fermer"

        .modal-body
          h4 Pour votre interlocuteur

          = render partial: 'complementary_appointments', locals: { appointment: @appointment }

          h4 Vous pouvez désormais

          = render 'free_patient'

        .modal-footer
          = button_tag 'Revenir à la consultation', type: 'button', class: ['btn', 'btn-secondary'], data: { bs_dismiss: 'modal' }
          = link_to "Revenir à l'agenda", consultation_type_appointments_path(@appointment.consultation_type), data: { turbo_frame: '_top' }, class: ['btn', 'btn-primary']
