// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
- breadcrumb :appointments, @consultation_type

= content_for :page_actions do
  - if policy(@consultation_type).archives_index?
    = link_to "#{fa_icon 'archive'} Archives".html_safe, archives_consultation_type_appointments_path(@consultation_type, appointments_filter: session[:appointments_filter]), class: ['btn btn-outline-secondary']

= content_for :fullscreen do
  = turbo_frame_tag 'appointment_details'
  = turbo_frame_tag 'assignment_form'

  = turbo_frame_tag 'calendar', src: calendar_days_path(pivot_date: session[:pivot_date], consultation_type_id: @consultation_type.id) do
    = spinner
