// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
= turbo_stream.update 'appointment_details' do
  .modal.fade data-controller="modal appointment-details" data-appointment-details-id-value=(@appointment.id)
    = turbo_frame_tag 'mail_form'
    .modal-dialog.modal-xl
      .modal-content
        .modal-header
          .modal-title
            span.badge.text-bg-secondary.fs-6.mb-2 = @appointment.onml_id
            = render partial: 'header', locals: { appointment: @appointment }
          - if policy(@appointment).edit?
            = custom_edit_link edit_appointment_path(@appointment), class: ['btn', 'btn-outline-warning', 'align-self-start'], data: { turbo_frame: "_top" }
          button.btn-close.align-self-start type="button" data-bs-dismiss="modal" aria-label="Close" title="Fermer"

        .modal-body
          div.appointment-details
            .row
              .col
                dl
                  dt Circonstances
                  dd= @appointment.circumstances
              .col
                dl
                  dt Remarques
                  dd= @appointment.comment
            .row
              .col
                dl
                  dt Service requérant
                  dd= @appointment.calling_institution&.title
              .col
                dl
                  dt OPJ
                  dd= @appointment.officer&.full_details
            .row
              .col
                dl
                  dt Prise en charge
                  dd= @appointment.user_in_charge&.name || 'Personne'
              .col
                - if policy(@appointment).update?
                  = render partial: 'complementary_appointments', locals: { appointment: @appointment }
          .accordion
            .accordion-item
              h4.accordion-header
                = button_tag data: { bs_toggle: 'collapse', bs_target: '#attached-files-body' }, class: ['accordion-button', 'collapsed'] do
                  span id=(dom_id(@appointment, 'attached_files_label')) = custom_appointment_attached_files_label(@appointment)

              #attached-files-body.accordion-collapse.collapse.p-2
                .row
                  .col
                    = turbo_frame_tag 'standard_attached_files', src: list_appointment_attached_files_path(@appointment, type: 'standard')
                      | Récupération des fichiers standard en cours...
                  .col
                    = turbo_frame_tag 'medical_content_attached_files', src: list_appointment_attached_files_path(@appointment, type: 'medical_content')
                      | Récupération des fichiers médicaux en cours...

        = render partial: 'actions', locals: { appointment: @appointment }
