// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
h1.display-5.mb-5 = greetings(Time.current)

#intervention_domains.row
  .col-12.col-md-6.my-3
    - @appointments_domains.each do |intervention_domain|
      .card
        .card-header
          h2= intervention_domain.title
        ul.list-group.list-group-flush
          - policy_scope(intervention_domain.consultation_types).by_title.each do |type|
            li.list-group-item.list-group-item-action
              = link_to consultation_type_appointments_path(type), class: ['btn d-flex justify-content-between'] do
                .ConsultationType-title
                  = fa_icon 'calendar', style: 'regular'
                  = type.title
                .ConsultationType-icon
                  = fa_icon type.icon_name
          - if policy(intervention_domain).show?
            li.list-group-item.list-group-item-action
              = link_to intervention_domain_appointments_path(intervention_domain), class: ['btn w-100 text-start'] do
                = fa_icon 'columns'
                | Toutes les consultations d’aujourd’hui
  .col-12.col-md-6.my-3
    - @stream_domains.each do |intervention_domain|
      .card.mb-3
        .card-header
          h2= intervention_domain.title
        ul.list-group.list-group-flush
          - if policy(intervention_domain).show?
            li.list-group-item.list-group-item-action.d-flex.justify-content-between.align-items-center
              = link_to intervention_domain_flowing_consultations_path(intervention_domain), class: ['btn w-100 text-start'] do
                = fa_icon 'list'
                | Flux
