// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
- breadcrumb :users

h1
  = humanize_with_prefixed_count(User, @users.length)
  - if policy(User).new?
    = custom_add_link new_user_path, title: 'Nouvel utilisateur' do
      = fa_icon "plus"

- Role.all.each do |role|
  - users = @users.where(role: role)
  div id="users-#{role.title}"
    h2 #{users.length} #{role.localized_title(users.length)}
    .row.row-cols-3
      - users.each do |user|
        .col-12.col-md-6.col-xl-4.my-3
          .card.h-100 class="#{user.activation_status}"
            .card-header
              h3.d-flex = user.name
            .card-body
              ul.list-group
                li.list-group-item.list-group-item-light.border-light
                  = fa_icon 'user', title: user.class.human_attribute_name(:identifier)
                  = user.identifier
                li.list-group-item.list-group-item-light.border-light
                  = fa_icon 'envelope', title: user.class.human_attribute_name(:email)
                  = user.email
            .card-footer
              = custom_edit_link edit_user_path(user)
              - unless user == current_user
                - if policy(user).deactivate?
                  = link_to fa_icon('ban', title: 'Désactiver'), deactivate_user_path(user), class: ['text-danger']
                  - if user.scheduled_for_deactivation?
                    = l user.disabled_at
                - if policy(user).activate?
                  - if user.inactive?
                    = fa_icon('ban', title: 'Désactivé')
                    = l user.disabled_at
                    = link_to fa_icon('circle-check', title: 'Réactiver'), activate_user_path(user), method: :patch, data: { confirm: "Êtes-vous sûr de vouloir réactiver #{user.name} ?" }, class: ['text-success']
                  - else
                    = link_to fa_icon('circle-check', title: 'Supprimer la désactivation'), activate_user_path(user), method: :patch, data: { confirm: "Êtes-vous sûr de vouloir supprimer la désactivation de #{user.name} ?" }, class: ['text-success']
