// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
= simple_form_for [@schedule, @time_slot] do |f|
  = f.input :week_day, as: :hidden
  = f.input :consultation_type_id, as: :hidden
  = f.input :starts_at, { minute_step: 5 }
  = f.input :ends_at, { minute_step: 5 }

  = cancel_button edit_schedule_path(@time_slot.schedule)
  = f.button :submit, 'Sauvegarder', class: ['btn-primary']
