// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
= turbo_frame_tag 'medical_file' do
  .modal.fade data-controller="modal"
    .modal-dialog.modal-xl
      .modal-content
        .modal-header
          h5.modal-title
            | Modification de la fiche médicale
          button.btn-close.align-self-start type="button" data-bs-dismiss="modal" aria-label="Close" title="Fermer"

        .modal-body
          = render partial: 'appointments/header', locals: { appointment: @medical_file.appointment , read_only: true}
          = simple_form_for @medical_file do |f|
            ul.nav.nav-tabs
              li.nav-item
                = button_tag 'Présentation générale', type: :button, data: { bs_toggle: 'tab', bs_target: '#general' }, class: ['nav-link', 'active']
              li.nav-item
                = button_tag 'Observations', type: :button, data: { bs_toggle: 'tab', bs_target: '#observations' }, class: ['nav-link']
              li.nav-item
                = button_tag 'Observations médicales', type: :button, data: { bs_toggle: 'tab', bs_target: '#medical_observations' }, class: ['nav-link']
              li.nav-item
                = button_tag 'Examens complémentaires', type: :button, data: { bs_toggle: 'tab', bs_target: '#complementary' }, class: ['nav-link']
            .tab-content
              #general.tab-pane.fade.show.active.mt-2.mx-2
                = f.input :address
                = f.input :chaperon_name
                = f.input :chaperon_quality
                = f.input :phone_number
                = f.input :placed, as: :boolean
                = f.input :actor_name
              #observations.tab-pane.fade.mt-2.mx-2
                = f.input :obs_general
                = f.input :obs_nurse
                = f.input :obs_psychologist
              #medical_observations.tab-pane.fade.mt-2.mx-2
                = f.input :medical_obs
                = f.input :case_history
                = f.input :background
                = f.input :treatment
                = f.input :allergy
                = f.input :clinical_examination
              #complementary.tab-pane.fade.mt-2.mx-2
                .Radios
                  = field_set_tag 'Radios' do
                    = f.input :wrist_xray, as: :boolean
                    = f.input :teeth_xray, as: :boolean
                    = f.input :clavicle_xray, as: :boolean
                .Samples
                  = field_set_tag 'Prélèvements' do
                    = f.input :std_test, as: :boolean
                    = f.input :pre_therapy_test, as: :boolean
                    = f.input :cga_test, as: :boolean
                .Others
                  = field_set_tag 'Autres' do
                    = f.input :dna_test, as: :boolean
                    = f.input :chemical_submission, as: :boolean
                    = f.input :triple_therapy, as: :boolean
                    = f.input :dressing, as: :boolean
                    = f.input :psychological_impact_requested, as: :boolean
                    = f.input :complementary_info

            .modal-footer
              = button_tag 'Annuler', type: 'button', class: ['btn', 'btn-secondary'], data: { 'bs-dismiss': 'modal' }
              = f.button :submit, 'Sauvegarder', class: ['btn-primary']
