// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
- toast_config = { delay: (Rails.env.test? ? 500 : 5000) }.to_json
.toast-container.position-absolute.top-0.start-50.translate-middle-x
  - flash.each do |name, msg|
    .toast data-controller="toast" data-bs-config=(toast_config)
      .toast-body class="text-bg-#{name}" data-bs-dismiss="toast"
        = msg
