// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
span#logs.dropdown.mx-2
  = button_tag fa_icon('clock-rotate-left', title: 'Historique des actions'), \
    class: ['btn', 'btn-light', 'dropdown-toggle'], \
    data: { 'bs-toggle': 'dropdown' }, \
    disabled: loggable.logs.empty?
  ul.dropdown-menu.dropdown-menu-end
    - loggable.logs.each do |log|
      li.dropdown-item = display_log(log)
