// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
nav class="navbar bg-primary text-light px-3"
  = link_to root_path, class: "btn btn-primary" do
    = fa_icon 'home'
    | FILAÉ
  .d-flex
    .navbar-text.text-light.me-2
      = render partial: "application/filae_version"
    - if policy(:session).destroy?
      = button_to session_path, method: :delete, class: "btn btn-outline-light" do
        = current_user.first_name
        = fa_icon 'sign-out-alt'
        |  Me déconnecter
      .dropdown
        button.btn.btn-primary.dropdown-toggle type="button" data-bs-toggle="dropdown" aria-expanded="false"
          = fa_icon 'cog', title: 'Paramètres'
        ul#menu.dropdown-menu.dropdown-menu-end
          - if policy(:profile).show?
            li= link_to profile_path, class: ["dropdown-item"] do
              = fa_icon 'user'
              | Mon profil
          - if policy(Patient).index?
            hr
            li = link_to patients_path, class: ["dropdown-item"] do
              = fa_icon 'address-card'
              | Patients
          hr
          - if policy(User).index?
            li = link_to users_path, class: ["dropdown-item"] do
              = fa_icon 'users'
              | Utilisateurs
          - if policy(InterventionDomain).index?
            li = link_to intervention_domains_path, class: ["dropdown-item"] do
              = fa_icon 'calendar'
              | Interventions
          - if policy(CallingArea).index?
            li = link_to calling_areas_path, class: ["dropdown-item"] do
              = fa_icon 'user-secret'
              | Services requérants
          - if policy(CertificateTemplate).index?
            li = link_to certificate_templates_path, class: ["dropdown-item"] do
              = fa_icon 'file-alt'
              | Modèles de certificats
