/ Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
= turbo_stream.update 'assignment_form' do
  .modal.fade data-controller="modal"
    .modal-dialog
      .modal-content
        .modal-header
          .modal-title
            h5= @consultation_type.title
          button.btn-close type="button" data-bs-dismiss="modal" aria-label="Close" title="Fermer"

        .modal-body
          h6= "Créneau du #{localize_for_sentence @duty_period}"

          = simple_form_for @duty_period do |f|
            .mt-4
              = f.association :assignees, as: :check_boxes, label: false, collection: @consultation_type.assignable_users(@duty_period)

            .modal-footer
            = dismiss_modal_button
            = f.button :submit, 'Sauvegarder', class: ['btn-primary'], data: { turbo: false }
