// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
td.FlowingConsultation-consultationType.text-nowrap style="border-left: 3px solid #{flowing_consultation.calling_institution&.calling_area&.colour}"
  span.py-1.px-2.rounded.bg-secondary.text-white.d-inline-block
    = fa_icon 'tag'
    = on_two_lines(flowing_consultation.consultation_type&.title)
td.FlowingConsultation-calledAt.text-nowrap
  = fa_icon 'phone-alt'
  = l flowing_consultation.called_at, format: :short
td.FlowingConsultation-callingInstitution
  .dropdown
    button.btn.btn-light.dropdown-toggle type="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #{flowing_consultation.calling_institution&.calling_area&.colour}"
      = fa_icon 'shield-alt'
      = on_two_lines(flowing_consultation.calling_institution&.title)
    ul.dropdown-menu
      li.dropdown-item
        = fa_icon 'user-circle'
        = flowing_consultation.officer&.name
      li.dropdown-item
        = fa_icon 'phone-alt'
        = flowing_consultation.officer&.phone
      li.dropdown-item
        = fa_icon 'envelope'
        = flowing_consultation.officer&.email
td.FlowingConsultation-patient
  - unless hide_patient
    = render partial: 'patients/dropdown', locals: { patientable: flowing_consultation }
td.FlowingConsultation-minor
  = minority_icon_for(flowing_consultation)
td.FlowingConsultation-comment
  - if flowing_consultation.comment.present?
    - if flowing_consultation.active?
      = fa_icon 'comment'
      = flowing_consultation.comment
    - if flowing_consultation.archived?
      .dropdown
        button.btn.btn-light.dropdown-toggle type="button" data-bs-toggle="dropdown" aria-expanded="false"
          = fa_icon 'comment'
        ul.dropdown-menu
          li.dropdown-item
            = flowing_consultation.comment
