// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
= simple_form_for [@intervention_domain, @flowing_consultation],
  as: (@is_message ? :simple_message : :flowing_consultation),
  html: { \
    'data-controller': 'clear-input',
    } do |f|
  .row
    = f.hidden_field :previous_referer, value: request.referer
    .col
      = field_set_tag 'Rendez-vous' do
        = f.input :called_at, as: :string, input_html: { \
          value: localize_date((@flowing_consultation.persisted? ? @flowing_consultation.called_at : Time.zone.now), format: :input),
          data: { \
            "controller": "datetime-checker",
            datetime_checker_can_be_blank_value: false,
            action: 'input->datetime-checker#checkDatetime',
          },
        }
        - unless @is_message
          = f.association :consultation_type, collection: @flowing_consultation.intervention_domain.consultation_types.by_title, include_blank: false
        = f.input :comment

    .col
      = render partial: 'officers/dynamic_form', locals: { form: f, is_message: @is_message, officerable: @flowing_consultation }

    .col hidden=('hidden' if @is_message)
      = render partial: 'patients/dynamic_form', locals: { form: f, patientable: @flowing_consultation }
  - if @flowing_consultation.persisted?
    .mt-4 *{ \
      data: { \
        "controller": "flowing-consultation-form",
        "flowing-consultation-form": { \
          "assignee-id-value": @flowing_consultation.assignee&.id,
          "assigned-at-value": localize_date(@flowing_consultation.assigned_at, format: :input),
          "cancelled-at-value": localize_date(@flowing_consultation.cancelled_at, format: :input),
          "validated-at-value": localize_date(@flowing_consultation.validated_at, format: :input),
        }, \
      } \
    }
      = field_set_tag 'Statut' do
        .row
          .col
            #assignment
              h5 Transmettre
              = f.association :assignee, collection: User.by_role(:physician),
                input_html: { data: { action: 'change->flowing-consultation-form#setAssigneeId'} }
              = f.input :assigned_at, as: :string,
                wrapper_html: { hidden: ('hidden' unless @flowing_consultation.assignee), data: { flowing_consultation_form_target: 'assignedAtWrapper'} },
                input_html: { \
                  data: { \
                    controller: "datetime-checker",
                    datetime_checker_can_be_blank_value: false,
                    flowing_consultation_form_target: 'assignedAtInput',
                    action: 'input->flowing-consultation-form#setAssignedAt input->datetime-checker#checkDatetime',
                  },
                  value: localize_date(@flowing_consultation.assigned_at, format: :input),
                }
          .col
            #validation
              h5 Valider
              div.input-group
                = f.input :validated_at, as: :string,
                  input_html: { \
                    data: { \
                      controller: "datetime-checker",
                      flowing_consultation_form_target: 'validatedAtInput',
                      action: 'input->flowing-consultation-form#setValidatedAt input->datetime-checker#checkDatetime',
                    },
                    value: localize_date(@flowing_consultation.validated_at, format: :input),
                  }
                = button_tag fa_icon('eraser', title: 'Effacer'), type: 'button', data: { action: 'click->flowing-consultation-form#clearValidationInput'}, class: ['btn', 'bg-transparent']
              = button_tag 'Maintenant', class: ['btn', 'btn-secondary'],
                data: { action: 'click->flowing-consultation-form#setValidatedAtNow:prevent'}
          .col
            #cancellation
              h5 Annuler
              div.input-group
                = f.input :cancelled_at, as: :string,
                  input_html: { data: { \
                    controller: "datetime-checker",
                    flowing_consultation_form_target: 'cancelledAtInput',
                    action: 'input->flowing-consultation-form#setCancelledAt input->datetime-checker#checkDatetime',
                  } }
                = button_tag fa_icon('eraser', title: 'Effacer'), type: 'button', data: { action: 'click->flowing-consultation-form#clearCancellationInput'}, class: ['btn', 'bg-transparent']
              = button_tag 'Maintenant', class: ['btn', 'btn-secondary'],
                data: { action: 'click->flowing-consultation-form#setCancelledAtNow:prevent'}
              = f.input :cancelled_by, collection: FlowingConsultation.cancelled_bies.map { |k,v| [t("activerecord.attributes.flowing_consultation/cancelled_by.#{k}"), k] },
                wrapper_html: { hidden: ('hidden' unless @flowing_consultation.cancelled_at), data: { flowing_consultation_form_target: 'cancelledByWrapper'} },
                input_html: { data: { flowing_consultation_form_target: 'cancelledByInput' } }

  .mt-4.float-end
    = cancel_button intervention_domain_flowing_consultations_path(@flowing_consultation.intervention_domain)
    = f.submit 'Sauvegarder', class: ['btn', 'btn-primary', 'ms-2']
