// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
- hide_patient ||= false
- read_only ||= false
- state ||= nil

tr.accordion-body.FlowingConsultation
  td.FlowingConsultation-onmlid = item.onml_id
  td.FlowingConsultation-state = fa_icon item.state_icon, title: t("activerecord.attributes.flowing_consultation.state.#{item.state}")
  - if item.simple_message?
    = render partial: 'flowing_consultations/message', locals: { message: item }
  - else
    = render partial: 'flowing_consultations/flowing_consultation', locals: { flowing_consultation: item, hide_patient: hide_patient }
  td.FlowingConsultation-assignee
    - if assignee = item.assignee
      .dropdown
        button.btn.btn-light.dropdown-toggle type="button" data-bs-toggle="dropdown" aria-expanded="false"
          = fa_icon 'user-doctor'
          = assignee.name
        ul.dropdown-menu.dropdown-menu-end
          li.dropdown-item
            = fa_icon 'envelope'
            = assignee.email
  td.FlowingConsultation-history
    .dropdown
      button.btn.btn-light.dropdown-toggle type="button" data-bs-toggle="dropdown" aria-expanded="false" title="Historique"
        = fa_icon 'clock-rotate-left'
      ul.dropdown-menu.dropdown-menu-end
        li.dropdown-item
          - if item.called_at.present?
            = fa_icon 'phone-volume'
            = "Reçu le #{l item.called_at, format: :short}"
          - else
            = fa_icon 'minus'
            | Heure d'appel inconnue
        li.dropdown-item
          - if item.assigned_at.present?
            = fa_icon 'exchange-alt'
            = "Transmis le #{l item.assigned_at, format: :short}"
          - else
            = fa_icon 'minus'
            | Non transmis
        li.dropdown-item
          - if item.cancelled_at.present?
            = fa_icon 'ban'
            = "Annulé le #{l item.cancelled_at, format: :short}"
          - else
            - if item.validated_at.present?
              = fa_icon 'check-circle'
              = "Validé le #{l item.validated_at, format: :short}"
            - else
              = fa_icon 'minus'
              | Non validé
  td.FlowingConsultation-attachedFiles
    - if policy(item).list_attached_files?
      = turbo_frame_tag dom_id(item, 'attached_files_button')
        = custom_attached_files_link item
  - unless read_only
    td.FlowingConsultation-actions.text-nowrap data-controller="flowing-consultation-actions"
      - if item.active?
        - if state == 'to-transmit' && policy(item).assign?
          = link_to fa_icon('user-doctor', title: 'Transmettre'), assign_flowing_consultation_path(item), class: ['btn', 'btn-outline-info'], data: { action: 'click->flowing-consultation-actions#trigger:prevent'}
        - elsif !item.simple_message? && policy(item).list_certificates?
          = turbo_frame_tag dom_id(item, 'certificates_button')
            = custom_certificates_link item
        - if state == 'in-progress' && policy(item).validate?
          = link_to fa_icon('check', title: 'Valider'), validate_flowing_consultation_path(item), class: ['btn', 'btn-outline-success'], data: { action: 'click->flowing-consultation-actions#trigger:prevent'}
        - if state != 'validated' && state != 'cancelled' && policy(item).cancel?
          = link_to fa_icon('ban', title: 'Annuler'), cancel_flowing_consultation_path(item), class: ['btn', 'btn-outline-danger'], data: { action: 'click->flowing-consultation-actions#trigger:prevent'}
      - elsif !item.simple_message? && policy(item).list_certificates?
        = turbo_frame_tag dom_id(item, 'certificates_button')
          = custom_certificates_link item
      - if policy(item).edit?
        = custom_edit_link edit_flowing_consultation_path(item), data: { turbo_frame: '_top'}
