// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
td.FlowingConsultation-message
  = fa_icon 'comments'
  | Message
td.FlowingConsultation-calledAt.text-nowrap
  = fa_icon 'phone-alt'
  = l message.called_at, format: :short
td.FlowingConsultation-officer
  - interlocutor = message.officer
  - unless interlocutor.name.blank? && interlocutor.phone.blank? && interlocutor.email.blank?
    .dropdown
      button.btn.btn-light.dropdown-toggle type="button" data-bs-toggle="dropdown" aria-expanded="false"
        = fa_icon 'user'
        = interlocutor.name
      ul.dropdown-menu
        li.dropdown-item
          = fa_icon 'phone-alt'
          = interlocutor.phone
        li.dropdown-item
          = fa_icon 'envelope'
          = interlocutor.email
td &nbsp;
td &nbsp;
td
  = fa_icon 'comment'
  = message.comment
