// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
- breadcrumb :flowing_consultation_archives, @intervention_domain

= content_for :fullscreen do

  = turbo_frame_tag 'edit_patient'
  = turbo_frame_tag 'attached_files'
  = turbo_frame_tag 'certificates'
  = turbo_frame_tag 'mail_form'

  = simple_form_for :stream_filter,
    url: archives_intervention_domain_flowing_consultations_path(@intervention_domain),
    method: :get,
    html: { \
      id: 'stream_filter',
      data: { \
        controller: 'flowing-consultation-archives-filter clear-input',
        action: "input->flowing-consultation-archives-filter#updateForm",
        flowing_consultation_archives_filter_target: 'wholeForm' },
      class: ['row text-nowrap'],
      } do |f|

    = f.input :status, required: false,
      as: :select, collection: [['Annulée', 'cancelled'], ['Validée', 'validated']], include_blank: 'Tous', selected: session[:flowing_consultations_filter]['status'],
      wrapper_html: { class: ['col'] }
    .col
      = f.input :action, required: false,
        as: :select, collection: [['Appel', 'called_at'], ['Assignation', 'assigned_at'], ['Annulation', 'cancelled_at'], ['Validation', 'validated_at']], include_blank: 'Tous', selected: session[:flowing_consultations_filter]['action'],
        input_html: { data: { flowing_consultation_archives_filter_target: 'actionSelect'} }
      fieldset.hidden-if-disabled data-flowing-consultation-archives-filter-target="dateTimesFieldset"
        .row.flex-nowrap
          .col= f.input :start_date, as: :date, html5: true, required: true, input_html: { \
              value: session[:flowing_consultations_filter]['start_date'],
              data: { \
                "flowing-consultation-archives-filter-target": "startDateInput",
                action: "keyup->flowing-consultation-archives-filter#updateForm",
              },
            }
          .col= f.input :start_time, as: :time, html5: true, required: false, input_html: { \
              value: session[:flowing_consultations_filter]['start_time'],
              "data-action": "keyup->flowing-consultation-archives-filter#updateForm",
            },
            hint: "Heure invalide."
        .row.flex-nowrap
          .col= f.input :end_date, as: :date, html5: true, required: true, input_html: { \
              value: session[:flowing_consultations_filter]['end_date'],
              data: { \
                "flowing-consultation-archives-filter-target": "endDateInput",
                action: "keyup->flowing-consultation-archives-filter#updateForm",
              },
            }
          .col= f.input :end_time, as: :time, html5: true, required: false, input_html: { \
              value: session[:flowing_consultations_filter]['end_time'],
              "data-action": "keyup->flowing-consultation-archives-filter#updateForm",
            },
            hint: "Heure invalide."
    = f.input :consultation_type_id, required: false,
      as: :select, collection: @intervention_domain.consultation_types, include_blank: 'Tous',  selected: session[:flowing_consultations_filter]['consultation_type_id'],
      wrapper_html: { class: ['col'] }
    div.col data-controller="autocomplete" data-autocomplete-url-value=calling_institutions_search_path role="combobox"
      div.input-group
        = f.input :calling_institution, required: false, input_html: { data: { autocomplete_target: 'input' }, value: session[:flowing_consultations_filter]['calling_institution'] }
        = button_tag fa_icon('eraser', title: 'Effacer'), type: 'button', data: { action: 'click->clear-input#erase'}, class: ['btn', 'bg-transparent', 'autocomplete-eraser']
        = f.input :calling_institution_id, as: :hidden, input_html: { data: { autocomplete_target: 'hidden' }, value: session[:flowing_consultations_filter]['calling_institution_id'] }
      ul.list-group.autocomplete-results data-autocomplete-target="results"
    = f.input :assignee_id, required: false,
      as: :select, collection: User.by_role(:physician), include_blank: 'Tous',  selected: session[:flowing_consultations_filter]['assignee_id'],
      wrapper_html: { class: ['col'] }
    = f.input :patient_gender, required: false,
      as: :select, collection: Patient.genders.map { |k,v| [t("gender.#{k}.normal"), k] }.push(['Genre non renseigné', 'unfilled']), include_blank: 'Tous',  selected: session[:flowing_consultations_filter]['patient_gender'],
      wrapper_html: { class: ['col'] }
    = f.input :patient_last_name, required: false,
      input_html: { value: session[:flowing_consultations_filter]['patient_last_name']},
      wrapper_html: { class: ['col'] }
    = f.input :patient_age_range, required: false,
      as: :select, collection: ['0-9','10-19','20-29','30-39','40-49','50-59','60-69','70-79','80-89','90-99','100-109','110-119','120-129'], include_blank: 'Tous',  selected: session[:flowing_consultations_filter]['patient_age_range'],
      wrapper_html: { class: ['col'] }

    .col
      = f.button :submit, 'Filtrer',
        class: ['btn-primary'],
        data: { flowing_consultation_archives_filter_target: 'submitButton' }
      = link_to 'Effacer', reset_filter_intervention_domain_flowing_consultations_path, class: ['btn', 'btn-secondary']

  table.w-100.FlowingConsultationsList
    caption.text-center
      div= humanize_with_prefixed_count(FlowingConsultation, @flowing_consultations_count)
      - if @too_many_flowing_consultations
        div
          strong Cette recherche dépasse le nombre maximal de lignes affichables (#{FlowingConsultationsController::MAX_DISPLAYABLE_ARCHIVES}).
        div Vous pouvez modifier vos filtres pour la préciser.

    - unless @too_many_flowing_consultations
      = render partial: 'item', collection: @flowing_consultations, as: :item, locals: { state: nil }
