// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
.modal.fade data-controller="modal"
  .modal-dialog
    .modal-content
      .modal-header
        .modal-title
          h5 Transmission
      .modal-body
        = simple_form_for [@intervention_domain, @flowing_consultation],
          html: { \
            'data-controller': 'flowing-consultation-assignment-form',
            'data-flowing-consultation-assignment-form-assignee-id-value': @flowing_consultation.assignee&.id,
            'data-flowing-consultation-assignment-form-assigned-at-value': localize_date(@flowing_consultation.assigned_at, format: :input),
            } do |f|
          = f.association :assignee, collection: User.by_role(:physician).active,
            input_html: { data: { action: 'change->flowing-consultation-assignment-form#setAssigneeId'} }
          = f.input :assigned_at, as: :string,
            wrapper_html: { hidden: ('hidden' unless @flowing_consultation.assignee), data: { flowing_consultation_assignment_form_target: 'assignedAtWrapper'} },
            input_html: { \
              data: { flowing_consultation_assignment_form_target: 'assignedAtInput', action: 'input->flowing-consultation-assignment-form#setAssignedAt' },
              value: localize_date(@flowing_consultation.assigned_at, format: :input),
            }
          .modal-footer
            = button_tag 'Annuler', type: 'button', class: ['btn', 'btn-secondary'], data: { 'bs-dismiss': 'modal' }
            = f.submit 'Sauvegarder', class: ['btn', 'btn-primary'], data: { flowing_consultation_assignment_form_target: 'submitButton' }
