// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
.modal.fade data-controller="modal"
  .modal-dialog
    .modal-content
      .modal-header
        .modal-title
          h5 Transmission
      .modal-body
        = simple_form_for [@intervention_domain, @flowing_consultation],
          html: { \
            'data-controller': 'flowing-consultation-cancellation-form',
            'data-flowing-consultation-cancellation-form-cancelled-at-value': localize_date(Time.zone.now, format: :input),
            } do |f|
          div.input-group
            = f.input :cancelled_at, as: :string,
              input_html: { data: { flowing_consultation_cancellation_form_target: 'cancelledAtInput', action: 'input->flowing-consultation-cancellation-form#setCancelledAt' } }
            = button_tag fa_icon('eraser', title: 'Effacer'), type: 'button', data: { action: 'click->flowing-consultation-cancellation-form#clearCancellationInput'}, class: ['btn', 'bg-transparent']
          = button_tag 'Maintenant', class: ['btn', 'btn-secondary'],
            data: { action: 'click->flowing-consultation-cancellation-form#setCancelledAtNow:prevent'}
          = f.input :cancelled_by, collection: FlowingConsultation.cancelled_bies.map { |k,v| [t("activerecord.attributes.flowing_consultation/cancelled_by.#{k}"), k] },
            wrapper_html: { data: { flowing_consultation_cancellation_form_target: 'cancelledByWrapper'} },
            input_html: { data: { flowing_consultation_cancellation_form_target: 'cancelledByInput', action: 'input->flowing-consultation-cancellation-form#setCancelledBy' } }
          .modal-footer
            = button_tag 'Annuler', type: 'button', class: ['btn', 'btn-secondary'], data: { 'bs-dismiss': 'modal' }
            = f.submit 'Sauvegarder', class: ['btn', 'btn-primary'], data: { flowing_consultation_cancellation_form_target: 'submitButton' }
