// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
= turbo_frame_tag 'certificates'
  .modal.fade data-controller="modal"
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          .modal-title
            h3 Certificats

        .modal-body
          #validated_certificates
            h4 Certificats validés

            = attached_file_info(AttachedFile::ValidatedCertificate)

            ul#validated_certificates_listing.list-group
              - @validated_certificates.each do |validated_certificate|
                = render partial: 'certificates/certificate', locals: { certificate: validated_certificate }

          hr

          #signed_certificates
            h4 Certificats signés

            = attached_file_info(AttachedFile::SignedCertificate)

            = simple_form_for :new_certificate,
              url: certificate_flowing_consultation_path(@flowing_consultation),
              html: { 'data-controller': 'upload' } do |f|
              = f.input :file, as: :file, input_html: { data: { action: 'change->upload#uploadFiles' } }
              = f.submit 'Sauvegarder', data: { upload_target: 'submitButton' }, hidden: 'hidden'
            ul#signed_certificates_listing.list-group
              - @signed_certificates.each do |signed_certificate|
                = render partial: 'certificates/certificate', locals: { certificate: signed_certificate }

          hr

          #certificate_templates
            h4 Modèles
            ul.list-group
              - @certificate_templates.each do |template|
                li.list-group-item.d-flex.justify-content-between
                  = template.title
                  = link_to fa_icon('file-arrow-down', title: 'Télécharger'), master_document_download_path(template.master_document, flowing_consultation_id: @flowing_consultation.id), data: { turbo_frame: '_top' }

        .modal-footer
          = button_tag 'Fermer', type: 'button', class: ['btn', 'btn-primary'], data: { 'bs-dismiss': 'modal' }

