// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//

- breadcrumb :flowing_consultations, @intervention_domain

= content_for :page_actions do
  - if policy(@intervention_domain).archives_index?
    = link_to "#{fa_icon 'archive'} Archives".html_safe, archives_intervention_domain_flowing_consultations_path(@intervention_domain), class: ['btn btn-outline-secondary mx-2']
  - if policy(@intervention_domain.flowing_consultations.build).new?
    = custom_add_link new_intervention_domain_flowing_consultation_path(@intervention_domain, message: true), title: 'Nouveau message', format: :long, bs_type: :secondary
    = custom_add_link new_intervention_domain_flowing_consultation_path(@intervention_domain), title: 'Nouvelle consultation', format: :long

= content_for :fullscreen do
  = turbo_frame_tag 'edit_patient'
  = turbo_frame_tag 'attached_files'
  = turbo_frame_tag 'certificates'
  = turbo_frame_tag 'mail_form'

  .accordion
    table.accordion-item.w-100.FlowingConsultationsList
      - FlowingConsultation::ACCORDIONS.each do |state|
        tbody.accordion-header id="#{state.id}-header"
          tr
            th.accordion-header colspan=12
              = button_tag type: 'button', class: ['accordion-button', (state.collapsed ? 'collapsed' : '')], data: { bs_toggle: 'collapse', bs_target: "##{state.id}-listing" } do
                span.badge.text-bg-primary.rounded-pill.mx-1 [id="#{state.id}-count" data-controller='refresh'
                  data-refresh-url-value=list_intervention_domain_flowing_consultations_path(@intervention_domain, state: state.id) ] …
                - title = t("activerecord.attributes.flowing_consultation.state.#{state.id.underscore}")
                = state.pluralize ? title.pluralize : title
        tbody.accordion-collapse.collapse id="#{state.id}-listing" class=(state.collapsed ? '' : 'show')
          tr.accordion-body
            td = spinner
