// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
= turbo_stream.replace "#{@state}-count" do
  span.badge.text-bg-primary.rounded-pill.mx-1 [id="#{@state}-count" data-controller='refresh'
    data-refresh-url-value=list_intervention_domain_flowing_consultations_path(@intervention_domain, state: @state, fingerprint: @fingerprint) ] = @flowing_consultations.count

= turbo_stream.update "#{@state}-listing" do
  - if @flowing_consultations.empty?
    tr
      td.text-center colspan=12 Aucune consultation.
  - else
    = render partial: 'item', collection: @flowing_consultations, as: :item, locals: { state: @state }
