// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
.modal.fade data-controller="modal"
  .modal-dialog
    .modal-content
      .modal-header
        .modal-title
          h5 Transmission
      .modal-body
        = simple_form_for [@intervention_domain, @flowing_consultation],
          html: { \
            'data-controller': 'flowing-consultation-validation-form',
            'data-flowing-consultation-validation-form-validated-at-value': localize_date(@flowing_consultation.validated_at || Time.zone.now, format: :input),
            } do |f|
          div.input-group
            = f.input :validated_at, as: :string,
              input_html: { \
                data: { flowing_consultation_validation_form_target: 'validatedAtInput', action: 'input->flowing-consultation-validation-form#setValidatedAt'},
              }
            = button_tag fa_icon('eraser', title: 'Effacer'), type: 'button', data: { action: 'click->flowing-consultation-validation-form#clearValidationInput'}, class: ['btn', 'bg-transparent']
          = button_tag 'Maintenant', class: ['btn', 'btn-secondary'],
            data: { action: 'click->flowing-consultation-validation-form#setValidatedAtNow:prevent'}
          .modal-footer
            = button_tag 'Annuler', type: 'button', class: ['btn', 'btn-secondary'], data: { 'bs-dismiss': 'modal' }
            = f.submit 'Sauvegarder', class: ['btn', 'btn-primary'], data: { flowing_consultation_validation_form_target: 'submitButton' }
