// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
= simple_form_for [@intervention_domain, @schedule] do |f|
  = f.input :activated_on, html5: true, required: true

  = cancel_button intervention_domains_path
  = f.button :submit, 'Sauvegarder', class: ['btn-primary']

- if @schedule.persisted?
  table.table
    thead
      tr
        th Types de consultation
        th Lundi
        th Mardi
        th Mercredi
        th Jeudi
        th Vendredi
        th Samedi
        th Dimanche
      - @consultation_types.each do |type|
        tr
          td = type.title
          - (1..7).each do |day|
            td id="consultation-type-#{type.id}-day-#{day}"
              ul.list-group
              - @schedule.time_slots.each do |slot|
                - if slot.week_day == day && slot.consultation_type == type
                  li.list-group-item.d-flex.justify-content-between
                    = slot.display
                    .actions
                      = custom_edit_link edit_time_slot_path(slot)
                      = custom_delete_link slot
              = custom_add_link new_schedule_time_slot_path(@schedule, week_day: day, consultation_type_id: type.id), title: 'Nouveau créneau'
