// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
- breadcrumb :profile

#profile.card.border-light
  .card-body
    h1.card-title = @user.name
    p.card-subtitle
      = fa_icon 'shield-alt'
      = @user.role_title
    ul.list-group
      li#email.list-group-item
        = fa_icon 'envelope'
        = @user.email
      li#password.list-group-item
        = fa_icon 'key'
        | Mot de passe
        = simple_form_for @user, url: profile_path do |f|
          = f.input :id, as: :hidden
          = f.input :password, label: false
          = f.input :password_confirmation, label: false
          = f.button :submit, 'Changer le mot de passe'
