// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
- read_only ||= false
= turbo_frame_tag attached_file
  li.list-group-item.d-flex.justify-content-between
    div
      = fa_icon 'paperclip'
      = attached_file.file.filename
    div
      - if policy(attached_file).download?
        = link_to fa_icon('file-download', title: 'Télécharger'), download_attached_file_path(attached_file), data: { turbo_frame: "_top" }
      - unless read_only
        - if policy(attached_file).destroy?
          = custom_delete_link attached_file_path(attached_file)
