// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
= turbo_stream.update "#{@type}_attached_files_header" do
  = render partial: 'attached_files_header', locals: { attached_file_class: @attached_file_class, count: @attachable.attached_files.of_type(@type).length }

= turbo_stream.update dom_id(@attachable, 'attached_files_button') do
  = custom_attached_files_link @attachable

= turbo_stream.update dom_id(@attachable, 'attached_files_label') do
  = custom_appointment_attached_files_label @attachable

- @uploads.each do |upload|
  = turbo_stream.append "#{@type}_attached_files_listing", partial: 'attached_file', locals: { attached_file: upload }

= turbo_stream.prepend "flash", partial: "flash"
