// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
= turbo_frame_tag 'attached_files'
  .modal.fade data-controller="modal"
    .modal-dialog
      .modal-content
        .modal-header
          .modal-title
            h3 Fichiers attachés

        .modal-body
          = turbo_frame_tag 'standard_attached_files', src: send(@list_url, @attachable, {type: 'standard'})
            | Récupération des fichiers standard en cours...
          = turbo_frame_tag 'medical_content_attached_files', src: send(@list_url, @attachable, {type: 'medical_content'})
            | Récupération des fichiers médicaux en cours...
          - if @attachable.is_a?(Appointment) && \
            @attachable.certificate.present?
            = turbo_frame_tag 'signed_certificate_attached_files', src: list_certificate_attached_files_path(@attachable.certificate, type: 'signed_certificate', read_only: true)
              | Récupération des fichiers standard en cours...
            = turbo_frame_tag 'validated_certificate_attached_files', src: list_certificate_attached_files_path(@attachable.certificate, type: 'validated_certificate', read_only: true)
              | Récupération des fichiers médicaux en cours...


        .modal-footer
          = button_tag 'Fermer', type: 'button', class: ['btn', 'btn-primary'], data: { 'bs-dismiss': 'modal' }
