// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
= turbo_frame_tag "#{@type}_attached_files"
  = turbo_frame_tag "#{@type}_attached_files_header"
    = render partial: "attached_files_header", locals: { attached_file_class: @attached_file_class, count: @attached_files.length }

  - if policy(@attachable.attached_files.of_type(@type).build).list?
    - unless @read_only
      = simple_form_for :attached_file,
        url: @post_url,
        html: { 'data-controller': 'upload' } do |f|
        = f.input :file, as: :file, input_html: { multiple: true, data: { action: 'change->upload#uploadFiles' } }
        = f.submit 'Sauvegarder', data: { upload_target: 'submitButton' }, hidden: 'hidden'

    ul.list-group
      = turbo_frame_tag "#{@type}_attached_files_listing"
        = render partial: 'attached_file', collection: @attached_files, locals: { read_only: @read_only}
  - else
    p Vous n’avez pas les autorisations nécessaires pour consulter ce type de document.
