// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
= simple_form_for [@intervention_domain, @consultation_type] do |f|
  = f.input :title
  .ConsultationType__iconName
    = f.label :icon_name
    .input-group data-controller="icon-name"
      span.input-group-text data-icon-name-target="placeholder"
      = f.input_field :icon_name, class: "form-control", data: { "icon-name-target": "name", action: "icon-name#nameChanged" }
      span.input-group-text
        = link_to "https://fontawesome.com/v6/search?m=free&s=solid", target: "_blank"
          = fa_icon "magnifying-glass"
          | Icônes disponibles
  - if (@intervention_domain || @consultation_type.intervention_domain)&.appointments?
    .row.mt-4.mb-3
      .col
        = f.association :roles, as: :check_boxes, label_method: :localized_title
      .col
        = f.association :assigned_roles, as: :check_boxes, label_method: :localized_title
      .col
        = f.association :complementary_consultation_types, as: :check_boxes, collection: @consultation_type.available_complementary_consultation_types

  = cancel_button intervention_domains_path
  = f.button :submit, 'Sauvegarder', class: ['btn-primary']
