// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
= turbo_frame_tag 'calendar'
  .CalendarDays.mx-0.row [data-controller="calendars-navigator"
    data-calendars-navigator-display-cancelled-value=(session[:include_cancelled])
    data-calendars-navigator-assignment-mode-value=(session[:assignment_mode])
    data-calendars-navigator-base-url-value=(calendar_days_path(**@context_params))]

    nav.CalendarDays-nav.navbar.bg-primary.bg-gradient.text-light.mx-0.row
      .col.btn-toolbar.d-flex.justify-content-start
        .btn-group
          - if @consultation_type
            .form-check.form-switch.col.flex-fill.ms-3
              input.form-check-input type="checkbox" role="swich" id="assignment-mode" data-action="input->calendars-navigator#toggleAssignmentMode" checked=(session['assignment_mode'])
              label.form-check-label for="assignment-mode" Mode Affectation
          .form-check.form-switch.col.flex-fill.ms-3
            input.form-check-input type="checkbox" role="swich" id="display-cancelled" data-action="input->calendars-navigator#toggleDisplayCancelled" checked=(session['include_cancelled'])
            label.form-check-label for="display-cancelled" Afficher les rendez-vous reportés et annulés
      - if @intervention_domain
        .col.text-light.text-center.fs-3
          = localize_date(@pivot_date, format: :full)
      .col.btn-toolbar.d-flex.justify-content-end
        .btn-group
          = link_to fa_icon('arrow-down', title: "Aujourd'hui"), calendar_days_path(pivot_date: Date.today, **@context_params), class: ['btn', 'btn-light']
          = link_to fa_icon('arrow-left', title: "Précédemment"), calendar_days_path(pivot_date: @previous_pivot_date, **@context_params), class: ['btn', 'btn-light']
          = link_to fa_icon('arrow-right', title: "À suivre"), calendar_days_path(pivot_date: @next_pivot_date, **@context_params), class: ['btn', 'btn-light']
          = button_tag fa_icon('calendar-days', title: "Au jour"), type: :button, class: ['btn', 'btn-light', 'datepicker'], data: { action: 'click->calendars-navigator#showDatepicker:stop'}

    .CalendarDays-content
      - if @consultation_type
        - @days.each do |day|
          .CalendarDay.col.px-0
            = turbo_frame_tag "calendar_day_#{day}_#{dom_id(@consultation_type)}", src: calendar_day_path(day, consultation_type_id: @consultation_type.id, title: :day) do
              = spinner
      - if @intervention_domain
        - @consultation_types.each do |consultation_type|
          .CalendarDay.col.px-0
            = turbo_frame_tag "calendar_day_#{@pivot_date}_#{dom_id(consultation_type)}", src: calendar_day_path(@pivot_date, consultation_type_id: consultation_type.id, title: :consultation_type) do
              = spinner
