// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
- frame_tag_name = "calendar_day_#{@calendar_day.id}_#{dom_id(@consultation_type)}"
= turbo_frame_tag frame_tag_name
  .CalendarDay-header
    .CalendarDay-title
      = @title
    - unless session['assignment_mode']
      .CalendarDay-dutyPeriods
        ol
          - @calendar_day.duty_periods.each do |duty_period|
            li= abbr_assignee_names(duty_period.assignees)

  .CalendarDay-timeGrid [data-controller='calendar refresh'
    data-calendar-date-value=@calendar_day.date.iso8601
    data-calendar-resources-value=@calendar_day.resources.to_json
    data-calendar-events-value=@calendar_day.agenda_events.to_json
    data-calendar-new-appointment-url-value=new_consultation_type_appointment_path(@consultation_type)
    data-refresh-url-value=calendar_day_path(@calendar_day.id, consultation_type_id: @consultation_type.id, title: params[:title], since: Time.zone.now.iso8601)
    data-refresh-frame-tag-name-value=frame_tag_name
    data-calendars-navigator-target="calendar"]

    div data-calendar-target='calendar'
