// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
sass:

  .Report
    line-height: 1.6

    dl
      margin: 0

      dt, dd
        display: inline
      dt
        margin: 0
      dd
        font-weight: bold
        margin: 0 0.5em

    dl.CommentElement
      dl, dd
        display: block
      dd
        font-weight: normal

    span.field-to-provide
      padding: 0 5pt
      font-weight: bold
      color: red
    footer p
      text-align: right

  .Page, .Panel
    break-inside: avoid
    margin: 1rem 0

  .Title
    border: 0pt solid teal
    border-left-width: 1rem
    margin: 0 0 1rem
    padding-left: 1rem

  .Page
    & > .Title
      border-width: 1pt 1pt 1pt 1rem

  .Panel .Panel > .Title
      border-left-width: 0
      padding-left: 0

  .Questionnaire--edited
    hr.Element--newLine
      margin: 0
      padding: 0
      visibility: hidden
    dl
      display: inline

      &.Multipletext dt
        display: block
    img
      max-width: 100%
  .no-print
    display: none

article.Report

  .Questionnaire--edited
    = render partial: 'pages', locals: { pages: @appointment.certificate.pages }


  footer
    p Fait à Versailles le #{l Time.current, locale: @locale }
    p Docteur #{check_or_warn @appointment.user_in_charge&.name}

    - if Rails.env.development?
      h1 Inspecteur
      h2 Questionnaire
      pre= @appointment.certificate.questionnaire.pretty_inspect
      h2 Data
      pre= @appointment.certificate.data.pretty_inspect
