// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
- if (patient = patientable.patient)
  .dropdown id=dom_id(patient)
    button.btn.btn-light.dropdown-toggle type="button" data-bs-toggle="dropdown" aria-expanded="false"
      = fa_icon 'folder'
      = patient.fullname
    ul.dropdown-menu
      li.dropdown-item
        = fa_icon 'venus-mars'
        = humanized_gender patient
      li.dropdown-item
        = fa_icon 'calendar-alt'
        = patient.human_birth
      li.dropdown-item
        = fa_icon 'clock', title: 'Âge à la prise de rendez-vous'
        = patient.aged_at(patientable.created_at)
      li.dropdown-item
        - if policy(patient).edit?
          = custom_edit_link edit_patient_path(patient, patientable_id: patientable.id), title: 'Modifier le patient', format: :long, data: { turbo_frame: 'edit_patient' }
