// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
= field_set_tag 'Patient', data: { \
    controller: "dynamic-patient-form",
    dynamic_patient_form_target: 'patientFieldset',
    } do
  div data-controller="autocomplete" data-autocomplete-url-value=patients_search_path role="combobox"
    = form.input :patient, label: false, input_html: { data: { autocomplete_target: 'input', dynamic_patient_form_target: 'patientSearchInput', action: 'input->dynamic-patient-form#updatePatientLastName'}, value: nil }
    = form.input :patient_id, as: :hidden, input_html: { \
      data: { \
        autocomplete_target: 'hidden',
        action: 'input->dynamic-patient-form#togglePatientId',
        dynamic_patient_form_target: 'patientIdInput',
      },
      value: patientable.patient&.id,
    }
    ul.list-group data-autocomplete-target="results"
  div data-dynamic-patient-form-target="existingPatientDiv"
    = button_tag fa_icon('eraser', title: 'Effacer'), type: 'button', data: { action: 'click->dynamic-patient-form#unsetPatientId'}, class: ['btn', 'bg-transparent']
    div data-dynamic-patient-form-target="existingPatientCard"
  div data-dynamic-patient-form-target="newPatientDiv"
    = form.simple_fields_for :patient do |p|
      = p.input :gender, collection: Patient.genders.map { |k,v| [t("gender.#{k}.normal"), k] }
      = p.input :last_name,
        input_html: { data: { dynamic_patient_form_target: 'patientLastNameInput' }}
      = p.input :first_name
      = p.input :birthdate, as: :date, html5: true, wrapper: :vertical_form,
        input_html: { data: { dynamic_patient_form_target: 'birthdateInput', action: 'keyup->dynamic-patient-form#checkBirthdate input->dynamic-patient-form#checkBirthdate' }}
  - if patientable.is_a? FlowingConsultation
    = form.input :concerns_minor
  - else
    = form.input :patient_phone
