// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
div.mt-3
  h6.fw-bold En flux
  table.FlowingConsultationsList.w-100
    caption.text-center = humanize_with_prefixed_count(FlowingConsultation, flowing_consultations.length)
    - flowing_consultations.each do |flowing_consultation|
      = render partial: 'flowing_consultations/item', locals: { item: flowing_consultation, read_only: true, hide_patient: true }
