// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
tr id=dom_id(patient)
  td = humanized_gender(patient, abbreviated: true)
  td = patient.fullname
  td = patient.birthdate ? l(patient.birthdate) : patient.birth_year
  td = patient.phone_numbers
  td.text-info
    = link_to custom_link_name(:short, 'Historique des consultations', 'eye'), consultations_patient_path(patient), class: ['link-info'], data: { turbo_frame: 'consultations_listing'}
    = "(#{patient.consultations_count})"
  td
    - if policy(patient).edit?
      = custom_edit_link edit_patient_path(patient), data: { turbo_frame: 'edit_patient' }
    = render partial: 'logs', locals: { loggable: patient }
    - if policy(patient).edit?
      - if patient.probably_duplicated_patient_id
        = link_to "Doublon ?", duplicate_path(patient), class: "btn btn-sm btn-outline-warning", data: { turbo_frame: 'show_duplicate' }
      - elsif patient.duplicated_patient_id
        span.text-success Doublon fusionné ✓
