// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
= turbo_frame_tag 'consultations_listing'
  .modal.fade data-controller="modal"
    .modal-dialog.modal-xl
      .modal-content
        .modal-header
          .modal-title
            h5 Historique des consultations

        .modal-body
          = render partial: 'card', locals: { patient: @patient}

          = render partial: 'appointments', locals: { appointments: @patient.appointments }

          = render partial: 'flowing_consultations', locals: { flowing_consultations: @patient.flowing_consultations }

        .modal-footer
          = button_tag 'Fermer', type: 'button', class: ['btn', 'btn-primary'], data: { 'bs-dismiss': 'modal' }
  = turbo_frame_tag 'attached_files'
