// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
= turbo_frame_tag 'edit_patient'
  .modal.fade data-controller="modal"
    .modal-dialog.modal-xl
      .modal-content
        .modal-header
          .modal-title
            h5 Édition d'un patient
        = simple_form_for @patient, \
          html: { \
            'data-controller': 'patient-form',
            'data-patient-form-target': 'wholeForm',
            'data-action': 'input->patient-form#configureForm',
            } do |f|

          .modal-body
            = f.input :gender, collection: Patient.genders.map { |k,v| [t("gender.#{k}.normal"), k] }
            = f.input :last_name
            = f.input :first_name
            = f.input :birthdate, as: :date, html5: true, wrapper: :vertical_form,
              input_html: { value: f.object.birthdate&.iso8601, 'data-action': 'keyup->patient-form#configureForm', 'data-patient-form-target': 'birthdateInput' }
            = f.input :birth_year, \
              input_html: { 'data-patient-form-target': 'birthYearInput' }
            = f.hidden_field :patientable_id, value: params[:patientable_id]

            button.btn.btn-info type="button" data-bs-toggle="collapse" data-bs-target="#consultations"
              | Historique des consultations

            #consultations.collapse
              = render partial: 'appointments', locals: { appointments: @patient.appointments }
              = render partial: 'flowing_consultations', locals: { flowing_consultations: @patient.flowing_consultations }

          .modal-footer
            = button_tag 'Annuler', type: 'button', class: ['btn', 'btn-secondary'], data: { 'bs-dismiss': 'modal' }
            = f.submit 'Sauvegarder', class: ['btn', 'btn-primary'], data: { 'patient-form-target': 'submitButton' }
  = turbo_frame_tag 'attached_files'
