// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
- breadcrumb :patients

h1 = "#{humanize_with_prefixed_count(Patient, @patients.length)} sur #{@total_patients}"

#lines-number-selector.btn-group
  - Patient::PAGINATIONS.each do |n|
    = link_to n.to_s, patients_path(request.query_parameters.merge({size: n, page: nil})), class: ['btn', (n == @patients.limit_value ? 'btn-primary' : 'btn-outline-primary')]

= simple_form_for @patient_filter, url: patients_path, method: :get, html: { id: 'filter', class: ['row'] } do |f|
  = f.input :last_name, wrapper_html: { class: ['col'] }
  = f.input :first_name, wrapper_html: { class: ['col'] }
  = f.input :birthdate, as: :date, html5: true, wrapper_html: { class: ['col'] }
  = f.input :birth_year, wrapper_html: { class: ['col'] }
  = f.input :probably_duplicated_patient_id, as: :boolean, checked_value: 1, unchecked_value: nil, wrapper_html: { class: ['col'] }
  .col
    = f.button :submit, 'Filtrer', class: ['btn-primary']
    = link_to 'Effacer', patients_path(size: session[:pagination][:size], page: nil), class: ['btn', 'btn-secondary']

= paginate @patients

= turbo_frame_tag 'edit_patient'
= turbo_frame_tag 'show_duplicate', target: "_top"
= turbo_frame_tag 'consultations_listing'

table.table
  thead
    tr
      th Genre
      th NOM Prénom
      th Naissance
      th Téléphones
      th Consultations
      th Actions
  tbody
    = render @patients
