// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
= turbo_stream.replace @patient, partial: @partial, locals: { patient: @patient, patientable: @patientable }
= turbo_stream.update 'edit_patient', ''
= turbo_stream.prepend "flash", partial: "flash"
= turbo_stream.update_all "span.#{dom_id(@patient)}_fullname", @patient.fullname
= turbo_stream.update_all "span.#{dom_id(@patient)}_minority", minority_icon_for(@patientable) if @patientable
