// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//

= simple_form_for @session, url: session_path, \
  html: { \
    'data-controller': 'session', \
    'data-session-forgotten-password-value': @session.forgotten_password, \
    } do |f|
  .modal data-controller="modal" data-bs-backdrop="static"
    .modal-dialog
      .modal-content
        .modal-header.d-flex.justify-content-between
          .modal-title
            h3 Merci de vous authentifier
          = render partial: "application/filae_version"
        .modal-body
          .form-inputs
            = f.input :identifier
            = f.input :password, \
              wrapper_html: { 'data-session-target': 'passwordInput' }
            = f.input :forgotten_password, as: :boolean, \
              input_html: { 'data-action': 'click->session#toggleForgottenForm' }
          .form-actions.d-grid.gap-2
            = f.button :button, class: "btn-primary", 'data-session-target': 'connectButton' do
              = fa_icon "sign-in-alt"
              = t('helpers.submit.session.create')
            = f.button :button, class: "btn-primary", 'data-session-target': 'resetPasswordButton' do
              = fa_icon "envelope"
              = t('helpers.submit.session.send_email')
