// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
doctype html
html
  head
    title= head_title
    meta name="viewport" content="width=device-width,initial-scale=1"
    meta name="rails_env" content=(Rails.env)
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', media: 'all', "data-turbo-track": "reload"
    = javascript_include_tag "application", defer: true, "data-turbo-track": "reload"

  body
    #modals
    = render 'nav'
    #flash
      = render 'flash'
    - if content_for?(:fullscreen)
      .MainContent.container-fluid
        = render "content_header"
        = yield :fullscreen
    - else
      .MainContent.container
        = render "content_header"
        = yield
