// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
- breadcrumb :calling_institutions

h1 
  = humanize_with_prefixed_count(CallingArea, @calling_areas.length)
  = custom_add_link new_calling_area_path, title: 'Nouveau secteur'

#calling-areas.accordion
  - @calling_areas.each do |area|
    .accordion-item
      h2.accordion-header
        = button_tag type: 'button', class: ['accordion-button', 'collapsed'], data: { bs_toggle: 'collapse', bs_target: "#calling-area-#{area.id}" }, style: "color: #{area.colour}" do
          .col = area.title
          .col = humanize_with_prefixed_count(CallingInstitution, area.calling_institutions.length)
          .actions.col
            = custom_edit_link edit_calling_area_path(area)
            - if policy(area).destroy?
              = custom_delete_link area
      .accordion-collapse.collapse id="calling-area-#{area.id}" data-bs-parent='#calling-areas'
        .accordion-body
          h3
            = humanize_with_prefixed_count(CallingInstitution, area.calling_institutions.length)
            = custom_add_link new_calling_area_calling_institution_path(area), title: 'Nouveau service requérant'
          ul.list-group
            - area.calling_institutions.each do |institution|
              li.list-group-item.d-flex.justify-content-between
                = institution.title
                .actions
                  = custom_edit_link edit_calling_institution_path(institution)
                  - if policy(institution).destroy?
                    = custom_delete_link institution
