// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2025 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
= turbo_stream.replace @consultation_type, partial: 'appointments/complementary_consultation_type', locals: { appointment: @appointment , complementary_consultation_type: @consultation_type}
= turbo_stream.prepend "flash", partial: "flash"
= turbo_stream.replace_all "span.#{dom_id(@appointment)}_patient_journey", full_journey_span(@appointment)
