<%
# Filaé is a tool supporting French Forensic Medical Units.
# Copyright (C) 2018-2025 infoPiiaf SARL
#
# This file is part of Filaé which is free software: you can redistribute it
# and/or modify it under the terms of the GNU Affero General Public License
# as published by the Free Software Foundation, version 3.
#
# Filaé is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
# or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
# License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program. If not, see <https://www.gnu.org/licenses/>
#
%>
Bonjour, bonjour,

Un compte a été créé pour vous sur l'application <%= ENV['APP_NAME'] %>.

Pour rappel, cette application a pour objectif de faciliter la circulation, sécurisée, des données du dossier-patient, en reliant les informations administratives et médicales sur un support informatique partagé.

Vos informations de connexion :
- identifiant : <%= @user.identifier %>
- mot de passe : <%= @user.password %>

Rendez-vous sur la page d'accueil de l'application <%= ENV['APP_NAME'] %> :
<%= ENV['APP_ROOT_URL'] %>

Important : pour des raisons de sécurité et de confidentialité des données médico-judiciaires, nous vous invitons à modifier votre mot de passe dès votre prochaine connexion :
<%= ENV['APP_ROOT_URL'] %>/profile

Bonne navigation.
