<%
# Filaé is a tool supporting French Forensic Medical Units.
# Copyright (C) 2018-2025 infoPiiaf SARL
#
# This file is part of Filaé which is free software: you can redistribute it
# and/or modify it under the terms of the GNU Affero General Public License
# as published by the Free Software Foundation, version 3.
#
# Filaé is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
# or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
# License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program. If not, see <https://www.gnu.org/licenses/>
#
%>
Bonjour,

Votre nouveau mot de passe pour accéder à l'application <%= ENV['APP_NAME'] %> [1] est : <%= @user.password %>.

Important : pour des raisons de sécurité et de confidentialité des données médico-judiciaires, nous vous invitons à modifier votre mot de passe [2] dès votre prochaine connexion.

En cas de problème n'hésitez pas à prendre contact avec un administrateur.

Bonne navigation.

[1] <%= ENV['APP_ROOT_URL'] %>
[2] <%= ENV['APP_ROOT_URL'] %>/profile
